{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  'paragraph--' ~ grid_type,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  paragraph.isPublished() ? null : 'paragraph--unpublished'
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content.field_os2web_spotbox_reference_h }}
      {{ content.field_os2web_spotbox_ref_subhead }}
      {{ content.field_os2web_spotbox_reference }}
    {% endblock %}
  </div>
{% endblock paragraph %}
