// |--------------------------------------------------------------------------
// | Meeting
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .entity-teaser--os2web-meetings-meeting
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin entity-teaser--os2web-meetings-meeting-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.entity-teaser--os2web-meetings-meeting {
  display: flex;

  margin: 1rem 0;

  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;

  background-color: #fff;
  box-shadow: $box-shadow;

  .icon {
    transform: rotate(180deg);
  }
}
a.entity-teaser--os2web-meetings-meeting {
  cursor: pointer;

  &, &:hover, &:focus, &:active, &:visited {
    text-decoration: none;

    color: $color-text;
  }

  &:focus {
    outline-color: $color-orange-004;
  }
}

.entity-teaser--os2web-meetings-meeting__date {
  display: flex;

  padding: 1.5rem 1rem;

  flex-basis: 80px;
  flex-direction: column;
  justify-content: center;

  font-weight: $font-weight-bold;
  font-size: $large-font-size;
  line-height: 1.8rem;
  text-align: center;

  color: #fff;
  background-color: $color-blue-001;
}
.entity-teaser--os2web-meetings-meeting__date__month {
  display: block;

  text-transform: uppercase;
}
.entity-teaser--os2web-meetings-meeting__date__date {
  display: block;
}

.entity-teaser--os2web-meetings-meeting__content {
  display: flex;

  padding: 1.5rem 2.5rem;

  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  .field--name-field-os2web-m-type {
    font-weight: $font-weight-bold;

    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }
  }
}

.entity-teaser--os2web-meetings-meeting__actions {
  display: flex;

  padding: 0 ($grid-gutter-width / 2);

  align-items: center;
  text-align: center;

  .icon {
    font-size: 2.5rem;

    color: $color-orange-004;
  }

  a {
    padding: 2rem;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
