// |--------------------------------------------------------------------------
// | Page
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .entity-teaser--os2web-page
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin entity-teaser--os2web-page-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

a.entity-teaser--os2web-page {
  cursor: pointer;
}

.entity-teaser--os2web-page {
  margin-top: $grid-gutter-width / 2;
  margin-bottom: $grid-gutter-width / 2;

  .field--name-field-os2web-page-heading {

    h1, h2, h3, h4, h5, h6 {
      margin: 0;

      font-weight: normal;

      color: $color-link;
    }
  }

  .field {

    + .field {
      margin-top: 10px;
    }

    + .field--type-link {
      margin-top: 15px;
    }
  }

  .field--type-link {
    font-weight: bold;
  }
}

a.entity-teaser--os2web-page {

  &, &:hover, &:focus, &:active {
    color: $color-text;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {

  .entity-teaser--os2web-page {

    .row {
      align-items: center;
    }
  }
}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
