// |--------------------------------------------------------------------------
// | Page
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .entity-teaser
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin entity-teaser-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

a.entity-teaser {
  max-width: unset;
  cursor: pointer;
}
.entity-teaser {
  display: flex;

  flex-grow: 1;
  flex-direction: column;
}

.entity-teaser__image {

  img {
    width: 100%;
  }
}

.entity-teaser__body {
  display: flex;

  flex-direction: column;
  flex-grow: 1;

  padding: ($grid-gutter-width / 2) 0;

  .entity-teaser--os2web-news & {
    padding-top: 0;
  }

  .field--type-body {
    flex-grow: 1;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
