{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
          {{ content.field_os2web_column_1 }}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          {{ content.field_os2web_column_2 }}
        </div>
        <div class="col-sm-12 col-lg-4">
          {{ content.field_os2web_column_3 }}
        </div>
      </div>

    {% endblock %}
  </div>
{% endblock paragraph %}
