{% set container_class = container_type == 'fluid' ? 'container-fluid' : 'container' %}
{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  'background-color--' ~ background_color|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div {{ content_attributes.addClass([container_class]) }}>
        {{ content.field_os2web_paragraphs }}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
