{#
/**
 * @file
 *
 * Empty cart page template.
 *
 * @ingroup themeable
 */
#}
<div class="cart-empty-page">
  <h1 class="title">{{ 'Shopping cart'|t }}</h1>
  <p>{{ 'Your shopping cart is empty.'|t }}</p>
</div>
