// |--------------------------------------------------------------------------
// | Spotbox reference
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .paragraph--type--os2web-spotbox-reference
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin paragraph--type--os2web-spotbox-reference-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.paragraph--type--os2web-spotbox-reference {}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {

  .paragraph--grid_1,
  .paragraph--grid_2,
  .paragraph--grid_3 {

    .spotbox {
      height: 100%;
    }

    .field--name-field-os2web-spotbox-reference {
      display: grid;

      grid-gap: $grid-gutter-width / 2;
    }
  }

  .paragraph--grid_1 {

    .field--name-field-os2web-spotbox-reference {
      grid-template-columns: 1fr 1fr;
    }
  }

  .paragraph--grid_2 {

    .field--name-field-os2web-spotbox-reference {
      grid-template-columns: 1fr 1fr;
    }
  }

  .paragraph--grid_3 {

    .field--name-field-os2web-spotbox-reference {
      grid-template-columns: minmax(0, 1.6fr) 1fr;

      > .field__item {

        &:nth-child(1) {
          grid-row: span 2;

          .spotbox {
            display: flex;

            height: 100%;
          }
        }
      }
    }
  }
}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
