// |--------------------------------------------------------------------------
// | News.
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .entity-list--os2web-news
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin entity-list--os2web-news-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

a.entity-list--os2web-news {
  max-width: unset;
  cursor: pointer;
}
.entity-list--os2web-news {
  display: flex;

  flex-direction: column;

  margin-top: $grid-gutter-width / 2;
  margin-bottom: $grid-gutter-width / 2;

  box-shadow: $box-shadow;
  background-color: #fff;

  .field--name-field-os2web-news-heading {

    h1, h2, h3, h4, h5, h6 {
      margin: 0;

      font-weight: normal;

      color: $color-link;
    }
  }

  .field {

    + .field {
      margin-top: 10px;
    }

    + .field--type-link {
      margin-top: 15px;
    }
  }

  .field--name-field-os2web-news-article-date {
    font-weight: $font-weight-bold;
    font-size: $small-font-size;

    color: #666666;
  }
  .entity-list__body {
    padding: $grid-gutter-width / 2;
  }
}

a.entity-list--os2web-news {

  &, &:hover, &:focus, &:active {
    color: $color-text;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {

  .entity-list--os2web-news {
    display: flex;

    flex-direction: row;

    .entity-list__image {
      flex-basis: 200px;
      flex-shrink: 0;

      img {
        display: block;

        width: 100%;
      }
    }

    .entity-list__body {
      flex-grow: 1;
    }
  }
}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
