{% block paragraph %}
  {% block content %}
    <button class="accordion-button" aria-expanded="false" aria-controls="paragraph-{{ paragraph.id() }}">
      {# Begin - heading #}
      {{ content.field_os2web_accordion_item_head }}
      {# End - heading #}
    </button>
    <div id="paragraph-{{ paragraph.id() }}" aria-hidden="true" class="accordion-content">
      {# Begin - heading #}
      {{ content.field_os2web_accordion_item_ref }}
      {# End - heading #}
    </div>
  {% endblock %}
{% endblock paragraph %}
