/** commerce ************************************************************************/
.cart-block--summary__icon {
    display: inline-block;
    font: normal normal normal 1.5rem/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    padding: 0 0.5rem;
    color: #000;
}
.cart-block--summary__icon::before {content: "\f291";}
.cart-block--summary__gotobasket::before {
  content: 'TIL KASSEN';
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0 1rem;
  margin-left: 1rem;
  font-size: 1.4rem;
}
.cart-block--summary__count {
  font-size: 1.4rem;
  color: #000;
}
/* in mobile menu view */
#block-cart-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  padding: 1rem;
}
/* checkout pages  */
.view-commerce-cart-form {
  width: 100%;
  padding: 1rem;
  margin-bottom: 3rem;
  border: 2px solid var(--primary-color);
  font-size: 1.4rem;
}
.view-commerce-cart-form table {}
.view-commerce-cart-form table th,
.view-commerce-cart-form table td {
  vertical-align: middle;
  background: #f0f0f0;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  color: #5e5e5e;
  font-weight: normal;
  padding: .5rem;
}
.view-commerce-cart-form table th {
  color: #fff;
  text-transform: uppercase;
  border-right: 3px solid #fff;
  font-weight: normal;
  background-color: var(--primary-color);
  text-align: left;
}
.view-commerce-cart-form table th:first-of-type {width: 100%;}
.view-commerce-cart-form table .form-item {margin: 0;}
.view-commerce-cart-form table td.views-field[class*="_number"] {text-align:right;}
.view-commerce-cart-form table input.button {font-weight: 100;font-size: 1.2rem;}
.view-commerce-cart-form input.button {
  font-family: sans-serif;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.view-commerce-cart-form .order-total-line {
  background: #f0f0f0;
  color: #5e5e5e;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
}
.view-commerce-cart-form .form-actions {text-align:right; margin:0;}
/************************************************************************************/