@media print {

  html,
  html body {
    width: 100% !important;
    height: auto !important;
    min-height: initial !important;

    padding: 0 !important;
    margin: 0 !important;

    font-family: Georgia, "Times New Roman", Serif;
    font-size: 48%;
  }
  body {display: block;min-height: 0; padding-top: 0 !important; }

  p, .body-text, .body-copy-text,
  body {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  h1, h2, h3, h4, h5, h6,
  pre,
  p,
  .field--name-field-os2web-files-files {
    page-break-inside: avoid;
  }

  .block-local-tasks-block {display: none !important;}
  
  .container,
  .container-fluid {
    width: 100% !important;
    max-width: none !important;
  }
  .page-container {display: block; }

  .path-frontpage,
  .path-frontpage.toolbar-tray-open,
  body.toolbar-tray-open {padding-top: 0 !important; }
  
  .region-sidebar-first .sidenav-list,
  .region-sidebar-second .sidenav-list {display: none !important; }
  
  .file {-webkit-box-shadow: none;box-shadow: none; border: 1px solid #000; }
  .field--type-file > .field__items > .field__item,
  .field--type-file > .field__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  body .page-container {padding-top: 0;padding-bottom: 0; }
  footer .footer {margin-top: 32px;padding-bottom: 0; }
  footer .footer .inline-list > li {display: inline-block; }
  footer .footer .inline-list > li + li {margin-left: 16px; }
  body.modal-active > footer {display: none; }
  footer .footer {border: none; }
  
  fieldset {
    page-break-before: avoid;
    page-break-inside: auto;
    display: block;
    overflow: visible !important; }
  .form-group {page-break-inside: avoid; }
  .form-label {page-break-after: avoid; }
  .header .logo, .header .portal-header .logo {height: auto;width: auto; }
  .header .portal-header {overflow: hidden; }
  .header .portal-header .portal-header-inner {display: block; }
  .header .portal-header .portal-info {display: block;float: right; }
  .header .solution-header .solution-header-inner {display: block;overflow: hidden; }
  .header .solution-header .solution-heading {display: inline-block; }
  .header .solution-header .solution-info {
    display: block;
    float: right;
    margin-left: 0;
    text-align: right;
  } 
  .card {-webkit-box-shadow: none;box-shadow: none; } 

  body.modal-active > header {display: none; }
  body.modal-active .page-container {display: none; }
  body .modal .modal__overlay {display: block;position: relative;background-color: transparent; }
  body .modal .bg-modal {background-color: transparent !important;background: transparent !important; }
  body .modal .modal__header {display: block; } 

  .form-radio.printIfChecked, .form-checkbox.printIfChecked {display: none; }
  .form-radio.printIfChecked + label, .form-checkbox.printIfChecked + label {display: none; }
  .form-radio.printIfChecked:checked, .form-checkbox.printIfChecked:checked {display: inline-block; }
  .form-radio.printIfChecked:checked + label, .form-checkbox.printIfChecked:checked + label {display: inline-block; }
  .form-checkbox + label::before,
  .form-radio + label::before {border: none; }
  .form-radio.radio-large + label:before {content: none; }
  .form-checkbox:checked + label:after, .form-radio:checked + label:after, .form-checkbox.checkbox-large:checked + label:after, .form-radio.radio-large:checked + label:after {
    -webkit-box-shadow: -2px 2px 0 0 #000;
    box-shadow: -2px 2px 0 0 #000;
    -ms-transform: rotate(-46deg);
    transform: rotate(-46deg);
    -webkit-transform: rotate(-46deg);
    border-radius: 0;
    height: 7px;
    width: 12px;
    background-color: transparent;
    position: absolute;
    left: 3px;
    top: 1px; }
  .form-checkbox.checkbox-large:checked + label:after, .form-radio.radio-large:checked + label:after {
    height: 10px;
    width: 15px;
    left: 6px;
    top: 6px; }
  .form-radio + label::before {border-radius: 0; }
  .form-checkbox + label::before, .form-radio + label::before, .form-checkbox:checked + label:before {
    border: 0;
    background-color: transparent;
  }

  .d-print-none {display: none !important; }
  .d-print-inline {display: inline !important; }
  .d-print-inline-block {display: inline-block !important; }
  .d-print-block {display: block !important; }
  .d-print-table {display: table !important; }
  .d-print-table-row {display: table-row !important; }
  .d-print-table-cell {display: table-cell !important; }
  .d-print-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-print-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }

  .eu-cookie-compliance-banner {
    display: none;
  }
}

@media print and (max-width: 767px) {
  .table.table--responsive-headers:not(.d-print-table) {display: block; }
  .table.table--responsive-headers:not(.d-print-table) thead {display: none; }
  .table.table--responsive-headers:not(.d-print-table) tr {border-bottom: 1px solid #bbb; }
  .table.table--responsive-headers:not(.d-print-table) tr:last-child {border-bottom: 0; }
  .table.table--responsive-headers:not(.d-print-table) tr td, .table.table--responsive-headers:not(.d-print-table) tr th {
    display: block;
    border: none !important;
  }
  .table.table--responsive-headers:not(.d-print-table) tr td[data-title]:not([data-title=""]):before, .table.table--responsive-headers:not(.d-print-table) tr th[data-title]:not([data-title=""]):before {
    content: attr(data-title);
    text-align: left;
    display: block;
    font-weight: 600;
  }
  .table.table--responsive-headers:not(.d-print-table).table--borderless tbody tr:first-child {
    border-top: solid 1px #bbb; }
  .table.table--responsive-headers:not(.d-print-table).table--borderless tbody tr:last-child {
    border-bottom: solid 1px #bbb; }
  .table.table--responsive-headers:not(.d-print-table).table--borderless tbody tr td:first-child, .table.table--responsive-headers:not(.d-print-table).table--borderless tbody tr th:first-child {
    padding-left: 16px; } 
}

@media print and (min-width: 992px) {
  .header .solution-header .solution-info {margin-left: 0; } 
  body .modal .modal__footer {display: block; }
}

