
/* product search facets */
.view-products .facets-widget-links {
  width: 100%;
  clear: both;
}
.view-products .facets-widget-links .facet-item {
  margin: 0 20px 0 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  display: inline;
}

.view-products .facets-widget-links .facet-item a:hover{
  padding-bottom: 6px;
  color: #000;
  border-bottom-style: solid !important;
  border-bottom-width: 2px !important;
  font-weight: 400;
  text-decoration: none;
}
.view-products .facets-widget-links .facet-item a.is-active {
  padding-bottom: 6px;
  color: #000;
  border-bottom-style: solid !important;
  border-bottom-width: 5px !important;'
  font-weight: 400;
  text-decoration: none;
}

.view-products .facets-widget-links .facet-item:before,
.view-products .facets-widget-links .facet-item__status {
  display: none;
}

.view-products .facets-widget-links .item-list__links {
  float: left;
}

.view-products .facets-widget-links h3 {
  display: block !important;
  width: 200px;
  float: left;
  padding: 15px 10px 15px 0;
  text-align: left;
  color: rgba(69,69,69,0.52);
  font-size: 22px;
  font-weight: normal;
  line-height: 34px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

.view-products .view-content {
  clear: both;
}

body .view-commerce-cart-form table th:first-of-type {
  width: auto;
}

.views-field-purchased-entity {
  max-width: 200px;
}

.views-field-edit-quantity,
.views-field-remove-button {
  max-width: 50px;
}

.views-field-field-description {
  max-width: 300px;
}

.views-field-total-price__number {
  max-width: 100px;
}
