{#
/**
 * @file
 * Theme override for a field.
 *
 * @see field--text.html.twig and field.html.twig
 * @see template_preprocess_field()
 */
#}

{% if not label_hidden %}
<div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
{% endif %}
{% for item in items %}
  {{ item.content }}
{% endfor %}