{#
/**
 * @file
 * Theme override for field--os2web-borgerdk-article--recommendation field.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}
{% set entity = element['#object'] %}

{% set uniqueId = 'laes-ogsa-' ~ entity.id.value ~ '-' ~ entity.lang.value %}
<li>
  <button class="accordion-button js-accordion-add-link" aria-expanded="false" aria-controls="{{ uniqueId }}">
    Læs også
  </button>

  <div id="{{ uniqueId }}" aria-hidden="true" class="accordion-content">
    {% for item in items %}
      <div{{ attributes.addClass(classes, 'field__item') }}>{{ item.content }}</div>
    {% endfor %}
  </div>
</li>
