$background_color__default: #eeeff4;
$background_color__primary: #fcfafa;
$background_color__secondary: #012c4e;
$background_color__tertiary: #165f1d;
$background_color__navigation: #921730;
$background_color__footer_primary: #00335b;
$background_color__footer_secondary: #2a4f75;
$background_color__button: #196620;
$background_color__button_hover: #114f16;
$color__link: #022e51;
$color__link__hover: #01233e;
$color__link_footer: #6dcff6;
$color__bullets: #a5122f;
