// |--------------------------------------------------------------------------
// | Box
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .box
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin box-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.box {
  margin-bottom: $grid-gutter-width / 2;

  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(27, 27, 29, .2);
  background-color: $background_color__primary;

  .background-color--primary & {
    background-color: $background_color__default;
  }

  table {
    width: 100%;
  }

  a {
    position: initial;

    padding-right: initial;

    &:after {
      display: none;
    }
  }

  // Issue fix: on the right sidebar we have a box inside a box.
  .box {
    margin-left: -30px;
    margin-right: -30px;
  }
}
.box__heading {
  padding-left: 30px;
  padding-right: 30px;
}
.box__body {
  padding: 30px;
}

// Variants.
.box--section-link {
  margin-bottom: 14px;

  .box__body {
    min-height: 40px;

    padding-top: 10px;
    padding-bottom: 10px;

    > a {
      position: relative;

      padding-right: 12px;

      font-weight: $font-weight-bold;

      &:after {
        display: inline-block;
        position: absolute;

        top: 50%;
        right: 0;

        margin-top: -12px;

        font-family: FontAwesome;
        content: $fa-var-angle-right;

        color: $color__bullets;
      }
    }
  }

  a {
    display: block;

    text-decoration: none;
  }

  ul {
    margin: 0 0 5px 0;

    li {
      list-style: none;
      padding-left: 0;

      &:before {
        display: none;
      }
    }

    a {
      font-size: $small-text;
    }
  }

  hr {
    margin-left: -30px;
    margin-right: -30px;

    border-color: #f5f7f8;
    border-top-width: 2px;
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {

  .box {
    box-shadow: none !important;

    .box__heading {
      padding: 0;
    }
    .box__body {
      padding: 0;
    }

  }
}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
