// |--------------------------------------------------------------------------
// | Node
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .entity-full
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin entity-teaser-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.node__links {

  ul {
    padding: 0;

    li {
      padding: 0;

      &:before {
        display: none;
      }
    }
  }

  a {
    @extend .button;

    min-height: auto;
    padding: 13px 15px;

    border-radius: 30px;

    &, &:hover, &:focus {
      font-weight: $font-weight-bold;

      color: #fff;
      background-color: $color-orange-004;
    }
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
