// |--------------------------------------------------------------------------
// | File
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .file
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin file-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.file {
  display: block;

  margin-bottom: 15px;
  padding-left: 0 !important; // Reset.
  background-image: none !important;

  box-shadow: $box-shadow;

  a {
    position: relative;
    display: flex;

    align-items: center;

    word-break: break-word;

    padding: 0 (30px + 30px + 5px) 0 30px; // Width of icon + left/right spacing + gutter.

    height: 88px;
    max-width: 100%; // Reset.

    font-weight: bold;

    &, &:hover, &:focus, &:visited {
      color: $color-text;
      text-decoration: none;
    }

    &:after {
      display: inline-block;

      position: absolute;

      content: "";

      top: 50%;
      right: 30px;

      margin-top: -15px; // Half the height.

      width: 30px;
      height: 30px;

      background-image: url("../images/download.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.field--type-file {

  > .field__items,
  &.field__items {
    display: flex;
    flex-wrap: wrap;

    margin-right: ($grid-gutter-width / -4);
    margin-left: ($grid-gutter-width / -4);
  }

  > .field__items > .field__item,
  > .field__item {

    // Column.
    position: relative;
    width: 100%;
    min-height: 1px; // Prevent columns from collapsing when empty
    padding-right: ($grid-gutter-width / 4);
    padding-left: ($grid-gutter-width / 4);

    @include grid-col(12, 12);
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {

  .field--type-file {

    > .field__items > .field__item,
    > .field__item {
      @include grid-col(6, 12);
    }
  }
}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {

  .file {
    box-shadow: none;

    border: 1px solid #000;
  }

  .field--type-file {

    > .field__items > .field__item,
    > .field__item {
      @include grid-col(6, 12);
    }
  }
}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
