// |--------------------------------------------------------------------------
// | Link
// |--------------------------------------------------------------------------
// |
// | This link contains styles for the following:
// | - .field--type-link
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin link-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

//.field--type-link {
//
//  .fake-link,
//  a {
//    position: relative;
//
//    padding-right: 40px;
//
//    font-weight: $font-weight-bold;
//    color: $color-blue-001;
//    text-decoration: underline;
//
//    &, &:hover, &:active, &:visited {
//      text-decoration: none;
//      color: $color-text;
//    }
//
//    &:after {
//      position: absolute;
//
//      right: 5px;
//
//      font-size: 2.2rem;
//      font-family: "Material Icons";
//
//      color: $color-orange-004;
//      content: "keyboard_backspace";
//      transform: rotate(180deg);
//    }
//  }
//}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
