{%
  set classes = [
  'taxonomy-term',
  'spotbox',
  'spotbox--button',
  'vocabulary-' ~ term.bundle|clean_class,
]
%}
<a href="{{ url }}" {{ attributes.setAttribute('id', 'taxonomy-term-' ~ term.id).addClass(classes) }}>
  <div class="spotbox__content">
    <div class="field--name-field-os2web-spotbox-heading">
      <h3 class="h4">{{ name }}</h3>
    </div>

    {{ content }}
  </div>
</a>
