// |--------------------------------------------------------------------------
// | Section
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .section
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin section-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.section-heading {}
.section-heading__title {
  margin-top: 0;

  text-transform: uppercase;
  font-weight: bold;
  font-size: $h5-font-size;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

.section--alert {
  padding-top: 20px;
  padding-bottom: 20px;

  color: #000;
  background-color: #ff9e18;
}

.section--breadcrumb-bar {
  padding-top: 3px;
  padding-bottom: 3px;

  border-bottom: 1px solid #e6e6e6;

  background-color: #fff;
}
.section--social-icon-teasers {
  border-top: 1px solid #e6e6e6;

  background-color: #fff;
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {

  .section--alert {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {

  .section--alert {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
