.flexy-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.flexy-list > * {
  padding: 0 15px 0 0;
  margin:0;
}
.flexy-list > *:last-child {
  padding-right: 0;
}
.flexy-list--centered {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flexy-list--space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flexy-list li::before {content:''; /* fix for dkfds.css */}
