<table style="width:912px; margin:0 auto; background:#fff;
          border:0; border-collapse:collapse;" align="center">
  <tbody>
  <tr style="background:#fff; height:135px;">
    <td style="vertical-align:middle; padding-left:123px;">
      <a
        href="#"
        style="display:block; float:left;">
        <img
          src="https://gallery.mailchimp.com/d223facaa0be80f005d821ea0/images/b1752a3b-ebf4-44e0-a847-b13a7b4001b9.png"
          alt="Ringsted logotype" style="border:0;" width="215" height="97">
      </a>
    </td>
  </tr>

  {{ body|raw }}

  <tr>
    <td colspan="2" style="vertical-align:top; padding: 0;">
      <table width="912" height="240" cellspacing="0"
             cellpadding="0" border="0" align="center">
        <tbody>
        <tr>
          <td border="0"
              style="padding:0;vertical-align:top;background-repeat:
                        no-repeat;" width="912" valign="top" height="240"
              bgcolor="#d1d3d4"
              background="https://gallery.mailchimp.com/d223facaa0be80f005d821ea0/images/96fb1821-86bb-4e63-a16e-6e7d1116896b.png">
            <!--[if gte mso 9]>
            <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true"
                    stroke="false" style="width:912px;height:240px;">
              <v:fill type="tile"
                      src="https://gallery.mailchimp.com/d223facaa0be80f005d821ea0/images/96fb1821-86bb-4e63-a16e-6e7d1116896b.png"
                      color="#d1d3d4"/>
              <v:textbox inset="0,0,0,0">
            <![endif]-->
            <div>
              <div>
                <table style="border:0;
                              border-collapse:collapse; width:666px;
                              margin:0 auto; font-family: Arial,
                              sans-serif;" align="center">
                  <tbody>
                  <tr>
                    <td style="vertical-align:top; width:333px; padding-top:40px;">
                      <img
                          src="https://gallery.mailchimp.com/d223facaa0be80f005d821ea0/images/b1752a3b-ebf4-44e0-a847-b13a7b4001b9.png"
                          alt="Ringsted logotype"
                          style="border:0;"
                          width="166"
                          height="76">
                      <!-- fix padding in Outlook-->
                      <p style="margin: 0;padding: 0;font-size: 50px;line-height: 50px;"></p>
                    </td>
                    <td style="vertical-align:top; width:333px; padding-top:40px;">
                      <p style="margin:0; color:#333; font-size:16px; line-height:170%;">
                        Rådhuset<br>
                        Sct. Bendtsgade 1<br>
                        4100 Ringsted <br>
                        <br>
                        +45 57 62 62 62<br>
                        <a href="mailto:ringsted@ringsted.dk"
                           style="color:#333; font-weight:bold; text-decoration:none;">ringsted@ringsted.dk</a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td style="vertical-align:top; width:333px; padding-top:40px;" colspan="2">
                      <p style="margin:0; color:#333; font-size:16px; line-height:170%; text-align: center">
                        Klik <a href="{{ unsubscribe_url }}">her</a> for at afmelde
                      </p>
                      <p style="margin:0; color:#333; font-size:16px; line-height:170%; text-align: center">
                        Klik <a href="{{ unsubscribe_all_url }}">her</a> for at afmelde alle dine abonnementer
                      </p>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!--[if gte mso 9]>
              </v:textbox>
              </v:rect>
              <![endif]--> </div>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
