<div class="action-buttons d-none d-md-block">
  <div class="flexy-list">
    <div>
      <a href="#" class="action-button" title="Slå adgang med tegn til/fra" onclick="SignLanguageMark(null, '#ff2345');">
        <span class="icon fa fa-sign-language"></span>
      </a>
    </div>

    <div>
      <a href="http://www.adgangforalle.dk/" class="action-button" target="_blank">
        <span class="icon fa fa-volume-up"></span>
      </a>
    </div>

    <div>
      <a href="#" class="action-button" onclick="window.print();">
        <span class="icon fa fa-print"></span>
      </a>
    </div>
  </div>
</div>
