{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}
<tr>
  <td colspan="2" style="vertical-align:top;">
    <table style="width:666px; margin:0 auto; border:0;
                border-collapse:collapse; font-family: Arial,
                sans-serif;" align="center">
      <tbody>
      <tr style="line-height:120%;">
        <td style="vertical-align:middle; padding-top:60px;
                      padding-bottom: 30px;">
          <h2 style="margin:0; color:#333; font-size:30px;
                        font-family: Arial, sans-serif;">
            {{ label }}
          </h2>
        </td>
        <td style="vertical-align:top; padding-top:50px;
                      text-align:right;">
          <a
            href="{{ _context['#all_events_url'] }}"
            style="display:block; border-radius:2px;
                        float:right; line-height:35px; padding:0 15px;
                        text-decoration:none; color:#cb1f3a;
                        font-weight:bold; font-size:14px;">
            Vis alle
          </a></td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <td colspan="2" style="vertical-align:top;">
    <table style="width:666px; margin:0 auto; border:0; border-collapse:collapse; font-family: Arial,sans-serif;"
           align="center">
      <tbody>
      {% for item in items %}
        {# Row open #}
        {% if loop.index is odd %}
          <tr>
        {% endif %}

        <td
          style="vertical-align:top; width:333px; padding: 30px 0 50px 0; border-top:1px solid #333; border-bottom:1px solid #333;">
          <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
        </td>

        {# Adding after every first element #}
        {# from Mailchimp: fix margin between columns in Outlook #}
        {% if loop.index is odd %}
          <td
            style="font-size: 0;line-height: 0;vertical-align:
                    top;width:30px;">
            <p style="margin: 0;padding: 0;width: 30px;"></p>
          </td>
        {% endif %}

        {# Fixing display is we only have 1 element #}
        {% if loop.length == 1 %}
          <td
            style="vertical-align:top; width:333px; padding: 30px 0 50px 0; border-top:1px solid #333; border-bottom:1px solid #333;">
          </td>
        {% endif %}

        {# Row close #}
        {% if loop.index is even %}
          </tr>
        {% endif %}

      {% endfor %}

      </tbody>
    </table>
  </td>
</tr>
