<div class="action-buttons">
  <div class="flexy-list">
    <div>
      <a href="#" class="action-button print" onclick="window.print();">
        <span class="icon fa fa-print"></span>
      </a>
    </div>
  </div>
</div>
