<div class="footer-social-region">
	<h2>følg med</h2>

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <form class="mailchimp-signup-subscribe-form" action="https://www.skole-foraeldre.dk/artikel/kurser-skolebestyrelsen" method="post" id="mailchimp-signup-subscribe-block-sof-mailchimp-form-form" accept-charset="UTF-8">
                <div>TODO: Mail chimp</div>
            </form>
        </div>

        <div class="col-xs-12 col-sm-4">
            <a href="https://www.facebook.com/SkoleOgForaeldre" target="_blank" data-toggle="tooltip" data-placement="top" class="social-icon social-icon--facebook" title="Følg os på Facebook" rel="noreferrer" tabindex="-1">
                <span class="icon fa fa-facebook"></span>
            </a>
            <h5>Facebook</h5>
            <p>Deltag i debatten på Skole og Forældres Facebook-side.</p>
            <a href="https://www.facebook.com/SkoleOgForaeldre" target="_blank">Læs mere</a>
        </div>


        <div class="col-xs-12 col-sm-4">
            <a href="https://twitter.com/SkoleForaeldre" target="_blank" data-toggle="tooltip" data-placement="top" class="social-icon social-icon--twitter" title="Følg os på Twitter" rel="noreferrer" tabindex="-1">
                <span class="icon fa fa-twitter"></span>
            </a>
            <h5>Twitter</h5>
            <p>Den hurtige version. Tweets med links til Skole og Forældres pressemeddelelser m.v.</p>
            <a href="https://twitter.com/SkoleForaeldre" target="_blank">Læs mere</a>
        </div>
    </div>
</div>