:root {
    --body-bg-color-frontpage: #f0f0f0;
    --box-shadow-style-01: none;
    --border-color-form-input: rgb(204, 204, 204);
}

@font-face {
    font-family: "conduit_itclight";
    src: url(fonts/condult_itc/45fa0132-0858-4e18-9594-5a070788a059.eot?#iefix);
    src: url(fonts/condult_itc/45fa0132-0858-4e18-9594-5a070788a059.eot?#iefix) format("eot"), url(fonts/condult_itc/0f250d3b-13fd-469c-a4ec-9f9984165dea.woff2) format("woff2"), url(fonts/condult_itc/e924c59f-bc21-471f-ad1b-cefd0c1a6315.woff) format("woff"), url(fonts/condult_itc/13b88c12-e5f0-46c4-932a-57fe881b7c46.ttf) format("truetype"), url(fonts/condult_itc/cf39e66c-fff7-43d5-b865-0a45543d590a.svg#cf39e66c-fff7-43d5-b865-0a45543d590a) format("svg");
}

@font-face {
    font-family: "conduit_itcregular";
    src: url(fonts/condult_itc/367b2d50-c71b-4348-b8e2-d364f82386ea.eot?#iefix);
    src: url(fonts/condult_itc/367b2d50-c71b-4348-b8e2-d364f82386ea.eot?#iefix) format("eot"), url(fonts/condult_itc/8846bd5f-2288-474a-9e36-1f6a456687e8.woff2) format("woff2"), url(fonts/condult_itc/e328f17d-e8e5-424f-92e8-31af32b2ebac.woff) format("woff"), url(fonts/condult_itc/97556a76-3d0b-4ad7-ae17-02b5d97e928b.ttf) format("truetype"), url(fonts/condult_itc/407529ad-dcaa-4637-ac62-6cf9265d4f52.svg#407529ad-dcaa-4637-ac62-6cf9265d4f52) format("svg");
}

@font-face {
    font-family: 'fontello';
    src: url(fonts/fontello/fontello.eot?82788797);
    src: url(fonts/fontello/fontello.eot?82788797#iefix) format('embedded-opentype'), url(fonts/fontello/fontello.woff?82788797) format('woff'), url(fonts/fontello/fontello.ttf?82788797) format('truetype'), url(fonts/fontello/fontello.svg?82788797#fontello) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontelloslide';
    src: url(fonts/fontelloslide/fontelloslide.eot?72003881);
    src: url(fonts/fontelloslide/fontelloslide.eot?72003881#iefix) format('embedded-opentype'), url(fonts/fontelloslide/fontelloslide.woff?72003881) format('woff'), url(fonts/fontelloslide/fontelloslide.ttf?72003881) format('truetype'), url(fonts/fontelloslide/fontelloslide.svg?72003881#fontello) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url(fonts/Georgia/Georgia.eot?#iefix) format('embedded-opentype'), url(fonts/Georgia/Georgia.woff) format('woff'), url(fonts/Georgia/Georgia.ttf) format('truetype'), url(fonts/Georgia/Georgia.svg#Georgia) format('svg');
    font-weight: normal;
    font-style: normal;
}

/* better resets, and default styling */
nav ul li {
    padding: 0;
    margin: 0;
}
nav ul li a {text-decoration: none;}
/* dkfsd: fixes/overrides */
@media (min-width: 992px) {
    .nav-primary{
      margin-left:0;
    }
}
ul.nav-primary  li::before { /* shouldn't it be all li's, not just the first row (ul>li) */
    content: "" !important;
    padding-right: 0 !important;
}
ul.nav-primary>li:last-of-type>.nav-link {padding-right: 0px;}
.nav-primary > li > a {padding-top: 0; padding-bottom: 0;}

/* background colors */
body.path-frontpage .region-featured-bottom-first {
    background-color: var(--body-bg-color-frontpage);
}

/* theme */
body {font-family: "conduit_itcregular", sans-serif; }
body p {font-family: "conduit_itclight",sans-serif; }
body, p, .body-text, .body-copy-text {font-size: 1.9rem;}
a {text-decoration:none;}

.header .portal-info {margin-top: -1rem;}
.header .portal-header .portal-info > * {/*margin-left: 2rem;*/}
.region-secondary-menu .inline-list li + li,
.region-secondary-menu .inline-list li {margin:0;}
.region-secondary-menu .inline-list > li + li {margin-right: 4.1rem;}
.region-secondary-menu .inline-list > li.social-media-list {margin-right: 1.5rem;}
.region-secondary-menu .inline-list > li:last-of-type {margin-right: 0;}
.region-secondary-menu .inline-list > li:first-of-type {margin-left: 1.5rem;}
.region-secondary-menu .inline-list > li.social-media-list a.social-icon {width: 2.5rem; height: 2.5rem;}
.header .portal-header .portal-header-inner {align-items: self-start;}
.social-media-list.flexy-list .social-icon {
    height: 2.5rem;
    width: 2.5rem;
    background-color: rgba(178,178,178,0.56);
}

.region-secondary-menu {display: flex;align-items: center;justify-content: center;}

/* header logo (ovveride for dkfds) */
.logo {
    background-image:none !important;
    height: auto !important;
    width: auto !important;
    max-width: 230px !important;
}

header.header {position: relative; padding: 2.5rem 0;}
header.header .portal-header {background-color: transparent; }

.header .portal-header,
.header .navbar-primary {
    border-bottom: none;
}
.header .menu--sekundaermenu {font-size: 1.7rem;}
.header .menu--sekundaermenu a {color: #6c6c6c;}
.header .menu--sekundaermenu .social-media-list a {color: rgba(178,178,178,0.56);}
.header .button-menu-close,
.header .button-menu-open {
    flex-direction: row-reverse;
    background-color: transparent;
    color: var(--gray-color-600);
    width: fit-content;
}
.header .button-menu-close:focus,
.header .button-menu-open:focus {
    outline: 0;
    background-color: #eee;
}
.header .button-menu-close:hover,
.header .button-menu-open:hover {
    background-color: var(--primary-color); color: #fff;
}
.header .button-menu-close::before,
.header .button-menu-open::before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 2.6rem;
    margin-left: .5rem;
}
.header .button-menu-open::before {content: "\f0c9";}
.header #block-sekundaermenu-2 {margin-top: 2rem; font-size: 2.41rem;}
.header #block-sekundaermenu-2 ul {margin: 0;}
.header #block-sekundaermenu-2 li a {display: block; padding: .5rem 2rem;}
.header #block-sekundaermenu-2 li.social-media-list {display:none;}
.header .portal-info-mobile {border: 0; border-top: 1px solid #666;}
.header .nav.is-visible {padding-top: 0;}
/*.header .button-menu-close::before {content: "\f00d";}*/
.header .button-menu-close {
    background: url(/themes/custom/fds_sof_theme/vendors/dkfds-components-7.5.0/img/svg-icons/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
    color: transparent;
}
.header .button-menu-close:hover {color: transparent;}

/* footer */
footer a { font-weight: 100 !important; }
footer a:hover { color: #000; }

footer .footer {font-family: 'conduit_itclight';}
footer .footer h2 {font-size: 24px; text-transform: uppercase;}
footer .footer-logo {max-width: 230px;}
footer .contact_information_additional_information {margin-top: 7rem; color: #000;}
footer ul.contact_information {display: flex;flex-direction: column;}
footer ul.contact_information li {margin:0;padding:0;order: 99;}
/* override: dkfds.css */
footer ul.contact_information li::before {content:'';}
footer a {color: #000; font-weight: 100;}
footer ul.contact_information li.phone { order: 1; }
footer ul.contact_information li.email { order: 2; }
footer ul.contact_information li.name { order: 3; }
/* content with psudo ?!!? */
footer ul.contact_information li.vat_no:before {content:'CVR-nummer:'; font-size: inherit; position: static; padding-right: 1rem;}
footer ul.social-media-list {display:none;}
#block-privatlivspolitiktekstsidefod {margin: 1.5rem 0;}

/** block:sekundaermenu *********************************/
ul[block=sekundaermenu] a {text-transform: uppercase;}

/********************************************************/


/** region-primary-menu BASIC MEGA MENU *****************/
/** sof specific styles for "mega menu" *************/
header.header .navbar-primary {
    position: absolute;
    bottom: 4rem;
    text-transform: uppercase;
}
header.header .region-primary-menu {width:100%;}

/********************************************************/
ul.menu-local-tasks-list {
    text-align:center;
    margin: 0 auto;
    max-width: fit-content !important;
    padding: .5rem 0;
    display: flex;
}
ul.menu-local-tasks-list li {margin:0 .3rem; padding:0;}
ul.menu-local-tasks-list a {margin:0;padding: 0 1rem; align-items: center;justify-content: center;display: flex;}
ul.menu-local-tasks-list a.button {
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #747474;
    margin-bottom: 0;
}
ul.menu-local-tasks-list a.button.is-active {
    background-color: var(--primary-color);
}

.region-primary-menu {display:flex;}
.region-primary-menu nav {flex:1;}
.region-primary-menu #views-exposed-form-os2web-search-os2web-search-page input {
    width: 0px;padding: 1.2rem 2.4rem;
    margin-left: 1rem;
}
form#views-exposed-form-os2web-search-os2web-search-page .form-actions:after {right: 15px;}

.region.region-breadcrumb {max-width: 100%; flex:1;}
[data-drupal-messages] .messages__list {max-width:100% !important;}
[data-drupal-messages] {margin: 32px;}

/* temp slides */
.field.field--name-field-os2web-page-paragraph-wide>.field__item:first-child>.entity-default {padding:0; position: relative}

/* fix: not clickable */
#block-sitebranding {z-index: 501;}

.banner__box {padding: 20px;background-color: transparent;}
.banner__heading h2 {
    color: #fff;
    font-size: var(--fluid-font-size-large);
    line-height: 95%;
    font-weight: 100;
}
.banner__body p {
    color: #fff;
    /*font-size: 26px;*/
    font-size: var(--fluid-font-size-medium);
    font-weight: 200;
    line-height: 3rem;
    text-shadow: 1px 1px 1.6rem #000;
}

.field__item.blog-slider__container+.field__item .container .row {background-color: #fff;}
.field__item.blog-slider__container+.field__item .container .row .teaser {box-shadow: none;}
.blogSlides h2 {text-shadow: #000 1px 1px 19px;}
.blogSlider__dots {display: none;}
  
/** all articles *********************************************************************/
[data-cssname="forside-nyheder"] .grid>:first-child {width: 100%;}
[data-cssname="forside-nyheder"] > div {padding: var(--base-padding) 0;}
[data-cssname="forside-nyheder"] .views-element-container {
    padding: var(--base-padding);
    background-color: #fff;    
}
[data-cssname="forside-nyheder"] .grid {--grid-column-count: 1;}
[data-cssname="forside-nyheder"] .grid .column-wrap + .column-wrap {border-top: 1px solid rgba(0,0,0,0.09);}

@media (max-width: 990px) {
    [data-cssname="forside-nyheder"] > div {padding: var(--base-padding) 0;}
    [data-cssname="forside-nyheder"] .container {max-width:100%;}
}
@media (min-width: 575px) {
    [data-cssname="forside-nyheder"] .grid {--grid-column-count: 2;}
    [data-cssname="forside-nyheder"] .grid .column-wrap + .column-wrap {border-top: none;}
    [data-cssname="forside-nyheder"] .grid>:first-child [role="article"]{
        padding-bottom: var(--base-padding);
        border-bottom: 1px solid rgba(0,0,0,0.09);
    }
}
@media (min-width: 992px) {
    [data-cssname="forside-nyheder"] .grid {--grid-column-count: 3;}
}

[data-cssname="forside-nyheder"] .grid [role="article"] {
    padding: 0 1rem;
}
[data-cssname="forside-nyheder"] .grid [role="article"] .field--type-link a {
    color: var(--primary-color);
    font-weight: 100;
    text-transform: uppercase;
    font-size: 2rem;
}
[data-cssname="forside-nyheder"] .grid [role="article"] .field--type-body {
    font-family: 'conduit_itclight';
    line-height: 24px;
    padding: 1.4rem 0;
}
/* first article */
@media (min-width: 992px) {
    [data-cssname="forside-nyheder"] .grid>:first-child [role="article"]{
        flex-direction: row;
    }
    [data-cssname="forside-nyheder"] .grid>:first-child [role="article"] .entity-teaser__image {
        width: 50%; 
        padding-right: var(--base-padding);
        border-right: 1px solid rgba(0,0,0,0.09);
    }
    [data-cssname="forside-nyheder"] .grid>:first-child [role="article"] .entity-teaser__body {
        width: 50%; 
        padding-left: var(--base-padding);

    }
    [data-cssname="forside-nyheder"] .grid>:first-child [role="article"] .h4 {
        line-height: 4.2rem;
        font-size: 3.8rem;
        font-weight: 400;
        margin: .5rem 0;
    }
}
/* all but first 2 articles */
[data-cssname="forside-nyheder"] .grid>:nth-child(n+3) {
    border-left: 1px solid rgba(0,0,0,0.09);
}
/* rest of articles */
[data-cssname="forside-nyheder"] .grid>:nth-child(n+2) [role="article"] .entity-teaser__image {
    display:none;
}
/* news footer */
[data-cssname="forside-nyheder"] .container > div > .field__item:nth-child(2) .field {
    background-color: #F9F9F9;
    padding: 1.5rem;
    font-family: 'conduit_itclight';
    text-align: center;
}
[data-cssname="forside-nyheder"] .container > div > .field__item:nth-child(2) .field > :nth-child(1) {
    padding-bottom: 1.5rem;
}
[data-cssname="forside-nyheder"] .container > div > .field__item:nth-child(2) .field > :nth-child(1) a {
    color: #094974;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
}
[data-cssname="forside-nyheder"] .container > div > .field__item:nth-child(2) .field > :nth-child(2) h3 {
    color: #b2b2b2;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
}
[data-cssname="forside-nyheder"] .container > div > .field__item:nth-child(2) .field > :nth-child(2) p 
a {
    background: var(--primary-color);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0.75rem;
}
[data-cssname="forside-nyheder"] .container > div > .field__item:nth-child(2) .field > :nth-child(2) p 
a:after {
    position: static;
    color: #fff;
    font-family: 'FontAwesome';
    font-size: 3rem;
}
[data-cssname="forside-nyheder"] .container > div > .field__item:nth-child(2) .field > :nth-child(2) p 
a[title="mailchimp"]:after {
    content: '\f1ea';
}
[data-cssname="forside-nyheder"] .container > div > .field__item:nth-child(2) .field > :nth-child(2) p 
a[title="facebook"]:after {
    content: '\f09a';
}
[data-cssname="forside-nyheder"] .container > div > .field__item:nth-child(2) .field > :nth-child(2) p 
a[title="twitter"]:after {
    content: '\f099';
}
@media (min-width: 575px) {
    [data-cssname="forside-nyheder"] .container > div > .field__item:nth-child(2) .field > :nth-child(1) {
        padding-bottom: 0;
    }    
    [data-cssname="forside-nyheder"] .container > div > .field__item:nth-child(2) .field {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    [data-cssname="forside-nyheder"] .container > div > .field__item:nth-child(2) .field > :nth-child(2) {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    [data-cssname="forside-nyheder"] .container > div > .field__item:nth-child(2) .field > :nth-child(2) h3 {
        display: inline-block;
        padding-right: 1.5rem;
        list-style-type: none;
        margin: 0;
    }
    [data-cssname="forside-nyheder"] .container > div > .field__item:nth-child(2) .field > :nth-child(2) p 
    a:last-of-type {
        margin-right:0;
    }
}
/*************************************************************************************/

/* banner: Læs Magasinet Skolebørn */
[data-cssname="banner-magasinet-skoleboern"] div[style*="background-image:"] {
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 0;
}
[data-cssname="banner-magasinet-skoleboern"] .banner__box {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
[data-cssname="banner-magasinet-skoleboern"] h2 {
    padding: 0 0 30px 0;
    margin: 0;
    color: #000;
    font-family: 'Georgia';
    font-weight: normal;
    font-size: 75px;
    line-height: 60px;
    text-align: center;
}
[data-cssname="banner-magasinet-skoleboern"] .mag-deck-default img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    box-shadow: #6c6c6c 0px 0px 6px 0px;
    transform: rotate(-3deg);
    margin-right: 7rem; /* quickie, spacing should be handled else where */
}
[data-cssname="banner-magasinet-skoleboern"] .inline-list li {
    display: block;
}
[data-cssname="banner-magasinet-skoleboern"] .inline-list li a {
    display: block;
    background: transparent;
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 100;
    text-align: left;
}
[data-cssname="banner-magasinet-skoleboern"] .inline-list li a:hover {color: var(--primary-color);}
[data-cssname="banner-magasinet-skoleboern"] .inline-list {margin-bottom: 6rem;}
[data-cssname="banner-magasinet-skoleboern"] .banner__heading {width: 100%;}

/* all but the first 
body.path-frontpage 
.paragraph--type--os2web-content-reference 
.field--name-field-os2web-content-reference [class*="col-"]:not(:first-child)
div.entity-teaser__image {
    display: none;
}
body.path-frontpage 
.paragraph--type--os2web-content-reference 
.field--name-field-os2web-content-reference [class*="col-"]:not(:first-child)
div.entity-teaser__body {
    padding: 0;
}
body.path-frontpage 
.paragraph--type--os2web-content-reference 
.field--name-field-os2web-content-reference [class*="col-"]:not(:first-child)
.entity-teaser--os2web-page .field--name-field-os2web-page-heading h3.h4 {
    font-size: 30px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 20px;
}
 generel 
body.path-frontpage 
.paragraph--type--os2web-content-reference 
.field--name-field-os2web-content-reference [class*="col-"]
div.entity-teaser__body .field--type-body {
    font-family: 'conduit_itclight';
}
body.path-frontpage 
.paragraph--type--os2web-content-reference 
.field--name-field-os2web-content-reference [class*="col-"]
div.entity-teaser__body > div.field--type-link {
    margin: 0;
}
body.path-frontpage 
.paragraph--type--os2web-content-reference 
.field--name-field-os2web-content-reference [class*="col-"]
div.entity-teaser__body > div.field--type-link > a {
    display: inline-block;
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    padding-top: 10px
}
body.path-frontpage 
.paragraph--type--os2web-content-reference 
.field--name-field-os2web-content-reference [class*="col-"]
div.entity-teaser__body > div.field--type-link > a::after {
    content:'';
}
*/

/* forside-bluebanner (3 col banner link boxes) */
[data-cssname="forside-bluebanner"] .grid>.column-wrap .paragraph--type--os2web-simple-text-paragraph {
    justify-content: start;
}
[data-cssname="forside-bluebanner"] .field--name-field-os2web-simple-text-heading h2 {
    margin-top: 0;
    color: #fff;
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: inherit;
}
[data-cssname="forside-bluebanner"] p {
    margin: 0;
}
[data-cssname="forside-bluebanner"] .entity-default {
     flex-direction: column;
     justify-content: start;
}
[data-cssname="forside-bluebanner"] .column-wrap {
    text-align:center;
}
[data-cssname="forside-bluebanner"] .column-wrap:first-child {
    width: 100%;
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 3.6rem;
}
[data-cssname="forside-bluebanner"] .column-wrap:first-child a {font-size: 1.9rem;}
[data-cssname="forside-bluebanner"] .column-wrap:nth-child(n+2) {width: 45%;}
@media (min-width: 992px) {
    [data-cssname="forside-bluebanner"] .column-wrap:first-child {
        flex:1;
        text-align: left;
    }
    [data-cssname="forside-bluebanner"] .column-wrap:nth-child(n+2) {
        width: 20%;
        text-align: left;
    }
}

/* 3 x "news" sections */
[data-cssname="3xArtikelKolonner"] .grid.columns-3 {background: #fff; margin-top: var(--base-padding);}
[data-cssname="3xArtikelKolonner"] .grid.columns-3>.column-wrap {
    padding: .5rem;
}
[data-cssname="3xArtikelKolonner"] .column-wrap {
    margin-top:0;
    margin-bottom: 0;
}
[data-cssname="3xArtikelKolonner"] .field--name-field-os2web-news-block-header {
    color: rgba(69,69,69,0.8);
    font-size: 3rem;
}
[data-cssname="3xArtikelKolonner"] .grid.columns-3>:not(:last-child) {
    border-right: 1px solid #f0f0f0;
}
[data-cssname="3xArtikelKolonner"] .grid.columns-default>:not(:first-child) [role="article"] .h4 {
    padding: 11px 0 13px 0;
    border-top: 1px solid rgba(0,0,0,0.27);
    font-size: 18px;
    line-height: 20px;
}
[data-cssname="3xArtikelKolonner"] .grid.columns-default>:not(:first-child) img {
    display: none;
}
[data-cssname="3xArtikelKolonner"] .grid.columns-default img {
    margin-bottom: 2rem;
}
[data-cssname="3xArtikelKolonner"] .grid.columns-default {
    --grid-column-count: 1;
}
[data-cssname="3xArtikelKolonner"] .field--name-field-os2web-news-block-header {margin: 0; padding:0;}
[data-cssname="3xArtikelKolonner"] .h4 {margin:0;}
[data-cssname="3xArtikelKolonner"] .grid.columns-default>:first-child .h4 {
    min-height: 14rem;    
}
[data-cssname="3xArtikelKolonner"] .entity-teaser__body {margin: 0; padding:0; position: relative;}
[data-cssname="3xArtikelKolonner"] .field--type-link {
    position: absolute; top: 0; left: 0; right: 0; bottom: 0;
}
[data-cssname="3xArtikelKolonner"] .field--type-link a {
    position: absolute; top: 0; left: 0; right: 0; bottom: 0;
    color: transparent;
}
[data-cssname="3xArtikelKolonner"] .column-wrap>div {flex-direction: column;}
[data-cssname="3xArtikelKolonner"] .field--type-timestamp {display: none;}
[data-cssname="3xArtikelKolonner"] .field--type-body {display: none;}

/* fix ?!? */
.field--name-field-os2web-simple-text-heading h2 {color: #fff;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
}

/* default to white colors for banners having the default background color */
.background-color--primary.paragraph--view-mode--default * {color: #fff;}

/* front banners generel */
.field.field--name-field-os2web-page-paragraph-wide li:before {content:'';}

/* pager */
.pager__items .pager__item {background-color: #b2b2b2; border-radius: .3rem; margin: 40px 10px 20px;}
.pager__items .pager__item a {font-size: 2rem; color: #fff; padding: 1rem 1.4rem; display: inline-block;}
.pager__items .pager__item.is-active {background-color: var(--primary-color);}
.pager__items .pager__item span[aria-hidden] {text-transform: uppercase;letter-spacing: 1px;}
.pager__items .pager__item--first,
.pager__items .pager__item--last {display:none;}

/* søge resultater */
body.path-search .region-content h2 {
    line-height: 4.4rem;
    font-size: 4.6rem;
    font-weight: 400;
}
body.path-search ol.search-results {
    padding: 0;
    margin: 0;
    max-width: 100%;
}
body.path-search ol.search-results li {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #b2b2b2;
}
body.path-search .search-result__title a {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 10px;
    padding-top: 20px;
    text-decoration: none;
    display: inline-block;
    color: var(--primary-color);
}
body.path-search .search-result__snippet {margin: 0 0 1.5em;}

.contextual-region.focus {
    outline: 3px dotted steelblue;
    outline-offset: 1rem;
}
.contextual-region.focus:after {
    content: ' ';
    position: absolute;
    top: -1rem;
    left: -1rem;
    right: -1rem;
    bottom: -1rem;
    background: rgba(0,0,0,.05);
    pointer-events: none;
}
.contextual {top: -2.5rem;}

/* search page */
body.path-search .region-content {
    display: flex;
    flex-direction: column;
}
body.path-search .region-content form.search-form {order: 2;}
body.path-search .region-content h2 {order: 1; margin-bottom: 1.5rem;}
body.path-search .region-content h2 + h3 {
    order: 1;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 3rem;
}
body.path-search .region-content form + h3 {display:none; /* no search made */ }
body.path-search .region-content .item-list {order: 3;}
body.path-search .region-content .pager {order: 4;}

/* don't show "no results" when entering search page and .no-results-help */
body.path-search .region-content form.search-form[action="/search/site?keys="] ~ .item-list h3,
body.path-search .region-content form.search-form[action="/search/site"] ~ .item-list h3, 
body.path-search .region-content form.search-form[action="/search/site?keys="] ~ .item-list .no-results-help,
body.path-search .region-content form.search-form[action="/search/site"] ~ .item-list .no-results-help {display:none;}

body.path-search .region-content form.search-form[action="/search/site?keys="] .container-inline .form-group:before,
body.path-search .region-content form.search-form[action="/search/site"] .container-inline .form-group:before {
    content: 'Søg';
    position: absolute;
    left: 2.5rem;
    color: #777;
    font-family: sans-serif;
    font-size: 1.4rem;
}
form.search-form .form-group:focus-within:before {
    content: '' !important;
}

.form-group label {color: var(--primary-color);}

/* search form */
form.search-form .container-inline {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--body-bg-color-frontpage);
    padding-left: 1rem;
    border-radius: 3rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}
form.search-form .container-inline:after {
    width: 12rem;
    position: absolute;
    right: 0;
    content: "\e801";
    font-family: "fontello";
    font-size: 30px;
    text-align: center;
    line-height: 38px;
    color: var(--primary-color);
    pointer-events: none;
}
form.search-form .form-group {
    flex: 1;
}
form.search-form input[type="search"] {
    width:100%;
    border: none;
    background: transparent;
}
form.search-form input.button {
    background: transparent;
    color: transparent;
    width: 12rem;
}
form.search-form input.button:hover{
    background-color: transparent;
    color: transparent;
} 
form.search-form .form-type-search {margin: 0;}
form.search-form .form-type-search input {outline: transparent; padding-left: 1.8rem;}
form.search-form .form-label {display:none;}
form.search-form .search-help-link {display:none;}
.no-results-help p {
    font-size: 1.4rem;
    padding-left: 1rem;
}
body.path-search .page-container {min-height: 60.5rem;}
form.search-form [type="submit"]:focus {background-color:transparent; outline: 0;}

/* avanced html boxes */
[class*="-box"]>[class*="inner-box"]{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* banner: FØLG MED (mailchimp etc) */
.region-featured-bottom-second {
    font-family: "conduit_itclight";
    padding-top: 2rem;
}
.mailchimp-signup-subscribe-form {text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0; /* to hide default text: Signup form til Mailchimp  */
}
.mailchimp-signup-subscribe-form form * {margin: 0;}
.mailchimp-signup-subscribe-form:before {
    font-size: 6rem;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.4rem;
    content: "\f003";
    font-family: 'FontAwesome';
}
.mailchimp-signup-subscribe-form form {
    display: flex;
    flex-wrap: wrap;
    color: transparent;
    align-items: center;
    justify-content: center;
}
.mailchimp-signup-subscribe-form form:before {
    content: 'Tilmeld dig Skole og Forældres nyhedsbrev.';
    display: inline-block;
    color: #000;
    font-size: 1.9rem;
    min-height: 5rem;
}
.mailchimp-newsletter-mergefields {padding-right: 1rem;}

.facebook-box .icon,
.twitter-box .icon {
    display: contents;
}
.facebook-box .icon:before,
.twitter-box .icon:before {
    font-size: 6rem;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.facebook-box .description,
.twitter-box .description {
   color: #000;
   display: block;
    min-height: 5rem;
}
.facebook-box .readmore,
.twitter-box .readmore {
   margin-top: auto;
}
.mailchimp-signup-subscribe-form h2,
.facebook-box .h4,
.twitter-box .h4 {
    margin: -.3rem 0 2rem 0;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 100;
    line-height: 3.1rem;
    color: rgba(69,69,69,0.8);
    font-family: "conduit_itcregular";
}
.mailchimp-signup-subscribe-form .form-item-gdpr-consent {
    order: 9;
    margin: 2rem 0;
    width: 90%;
}
.mailchimp-signup-subscribe-form .form-item-gdpr-consent label[for="edit-gdpr-consent"] {
    line-height: 1.7rem;font-size: 1.4rem;
}
.mailchimp-signup-subscribe-form .form-item-gdpr-consent label[for="edit-gdpr-consent"]:before {
    content: 'Når du tilmelder dig, accepterer du\00a0';
}

/* fonts and font-sizes */
.field--name-field-os2web-news-block-header,
.field--name-field-os2web-simple-text-heading h2,
.container>h2 {
    width: 100%;
    padding: 0 20px 30px 20px;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    margin:0;
    color: #000;
}

.h4 {
    color: #000;
    font-size: 3.2rem;
    font-weight: 200;
    line-height: 3.1rem;
}

.readmore {
    display: inline-block;
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 3.0rem;
    font-weight: 100;
    padding-top: 1rem;
    font-family: "conduit_itcregular", sans-serif;
}

[data-cssname="3xSpotboxe"] {background-color: #fff;}
[data-cssname="3xSpotboxe"] .spotbox { padding: 3.6rem 2rem;}
.spotbox * {color: #000 !important;}
.spotbox .icon-wrapper {padding: 2.4rem;}
.spotbox .h4 {padding: 1rem 0 4rem 0; margin: 0;}
.spotbox p {font-size: 1.7rem;}

.region-featured-bottom-first {
    padding-bottom: 4rem;
}

/* main pages */
.field--name-field-os2web-simple-text-heading p {
    padding: 2rem 0 4.4rem 0;
    font-family: "conduit_itcregular",sans-serif;
    font-size: 2.6rem;
    line-height: 3.0rem;
}
.field--name-field-os2web-simple-text-heading p strong {font-weight: inherit;}
.field--type-text-long a {
    position: static;
    padding-right: 0;
    font-weight: 200;
    text-decoration: none;
}

/* form elements */
.button[type=submit],
.form-input, .form-email, .form-input, .form-email, .form-select {border-radius: 0;}

/* banner */
.region-featured-bottom-first .container-fluid 
.paragraph--type--os2web-banner-paragraph {
    min-height: 70vh;
    background-position: 50% 50%;
}

/* page title */
.field--name-field-os2web-news-heading h1,
.field--name-field-os2web-page-heading h1 {
    margin: 40px 0 0!important;
    color: #000;
    font-size: 46px;
    font-weight: normal;
    line-height: 44px;
}
.field--name-field-os2web-news-intro,
.field--name-field-os2web-page-intro {
    padding: 20px 0 44px 0;
}
.field--name-field-os2web-news-intro p strong,
.field--name-field-os2web-page-intro p strong {
    margin: 0;
    text-align: left;
    font-family: "conduit_itcregular",sans-serif;
    color: #000;
    font-weight: 200;
    font-size: 26px;
    line-height: 30px;
}


/* læs også sektion på alle sider undtagen forsiden */
body:not(.path-frontpage) .region-featured-bottom-first {padding-bottom: 0;}
body:not(.path-frontpage) [class*="-paragraph-wid"] {
    background-color: var(--body-bg-color-frontpage);
    padding: var(--base-padding) 0;
}
body:not(.path-frontpage) [class*="-paragraph-wid"] 
.entity-default--os2web-3-columns>.grid {
    max-width: var(--max-width);
    margin: 0 auto;
    background-color: var(--gray-color-000);
}
body:not(.path-frontpage) [class*="-paragraph-wid"] 
.entity-default--os2web-3-columns>.grid>.column-wrap {
    padding: var(--base-padding);
}
body:not(.path-frontpage) [class*="-paragraph-wid"] 
.entity-default--os2web-3-columns>.grid>.column-wrap>* { 
    flex-direction: column;
    text-align: left;
}
body:not(.path-frontpage) [class*="-paragraph-wid"] 
.entity-default--os2web-3-columns>.grid>.column-wrap h2 {
    margin: 0 0 1rem 0;
    text-align: left;
    font-size: 24px;
    line-height: 28px;
    color: #000;
    font-weight: normal;
}
body:not(.path-frontpage) [class*="-paragraph-wid"] 
.entity-default--os2web-3-columns>.grid>:not(:last-child).column-wrap 
.field--name-field-os2web-content-reference.field__items a {
    color: var(--primary-color);
    font-weight: 100;
    text-transform: uppercase;
}
body:not(.path-frontpage) [class*="-paragraph-wid"] 
.entity-default--os2web-3-columns>.grid>:last-child.column-wrap 
.field--name-field-os2web-content-reference.field__items a {
    display: inline-block;
    margin: 7px 0;
    padding: 9px 14px 7px;
    border-radius: 5%;
    background-color: var(--primary-color);
    color: #FFF;
    font-size: 16px;
    text-align: left;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
}

/* artikel datoer */
article .node__content .field--type-timestamp {display:none;}
article .article-sumitted-date-by {
    margin: 20px 0 0 0;
    padding: 20px 0;
    border-bottom: 1px solid #b2b2b2;
    border-top: 1px solid #b2b2b2;
    color: #454545;
    font-style: normal;
    font-weight: 200;
    font-size: 1.4rem;
}

/* teasers */
[role="article"].teaser .entity-teaser__image img {
    margin-bottom: 2rem;
}
[role="article"].teaser .field--type-timestamp {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
[role="article"] .entity-teaser__body .h4 {
    font-size: 3rem;
    margin-top: 0;
}

/* sidebar */
.region-sidebar-second h2 {
    text-align: left;
    font-weight: 100;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    font-size: 2.4rem;
    line-height: 2.8rem;
    padding: 0;
    text-align: left;
}
.region-sidebar-second .views-field-title a:not([class*=spotbox]),
.region-sidebar-second .field--type-entity-reference a:not([class*=spotbox]) {
    display: block;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 200;
}

.region-sidebar-second {margin-top: var(--base-padding); padding-left:0;}
@media (min-width: 768px) {
    /* very theme specific, to limit the width of the main content (if sidebars) */
    main.sidebarOnLeft {padding-left: 8.35rem !important;}
    main.sidebarOnRight {padding-right: 8.35rem !important;}
    .region-sidebar-second {margin-top: 0; }
}

/* sidebar icon spotbox */
.region-sidebar-second .spotbox--icon {
    flex-direction: row-reverse;
    --spotbox-padding: .5rem 1.5rem;
}
.region-sidebar-second .spotbox--icon .icon-wrapper {background: transparent; padding:0;}
.region-sidebar-second .spotbox--icon .icon-wrapper svg {--spotbox-icon-size: 50px; display: flex;}
.region-sidebar-second .spotbox--icon .body {flex:1;}
.region-sidebar-second .spotbox--icon .body .h4 {padding: 0; font-size: 2.3rem;text-transform: uppercase; text-align: left; color: #fff !important;}
.region-sidebar-second .spotbox--icon .body p {display:none;}

.action-buttons .flexy-list {justify-content: flex-end;}
/* no print, search */
body.path-search-site a.action-button.print {display:none;}

/* 
view: path-sektion-nyheder'
duw to bug: no special view filename suggestion => ergo this messy css
*/
body.path-sektion-nyheder h1 {
    color: #000;
    font-size: 46px;
    font-weight: 400;
    line-height: 50px;
}
body.path-sektion-nyheder h1+p {
    margin: 0;
    padding: 20px 0 44px 5px;
    color: #000;
    font-size: 26px;
    font-weight: 200;
    line-height: 30px;
    text-align: left;
}
.view-content.grid .column-wrap {position: relative}
.view-content.grid .column-wrap:nth-child(2):after {
    content: '';
    position: absolute;
    inset: 0 -1rem 0 -1rem;
    border: 1px solid #f0f0f0;
    border-top: 0;
    border-bottom: 0;
    
}
.view-content.grid .column-wrap .entity-teaser__body .field--type-body {
    flex-grow: 0;
    margin-bottom: var(--base-padding);
}
.view-content.grid .column-fullwidth {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #b2b2b2;
    margin: var(--base-padding-half)
}
.view-content.grid .column-fullwidth .entity-teaser__image {display:none;}
.view-content.grid .column-fullwidth .entity-teaser__body {padding: 0;}
.view-content.grid .column-fullwidth .entity-teaser__body .field--type-timestamp {color: rgba(69,69,69,0.6);}
.view-content.grid .column-fullwidth .entity-teaser__body .field--type-body {
    margin: 0 0 15px 0;
    padding: 14px 17px 0 0;
    text-align: left;
    border-radius: 0;
    font-family: 'conduit_itclight';
    color: #454545;
    font-size: 19px;
    font-weight: 200;
    line-height: 24px;
}
.view-content.grid .column-wrap + .column-fullwidth {
    border-top: 1px solid #f0f0f0;
}
.view-content.grid .column-fullwidth .field--type-timestamp {
    margin-bottom: 1rem;
}
.view-content.grid .column-fullwidth a h3.h4 {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: var(--primary-color);
    
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
}
.view-content.grid .column-fullwidth .field--type-link {
    display: none;
}
.view-content.grid .field--type-link a {
    color: var(--primary-color); 
    font-weight: 100;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
}

/* pager text buttons */
.pager__items .pager__item--previous a,
.pager__items .pager__item--next a {padding: 1rem 0.5rem;}

/* aside indholds ref. teasers */
main + aside [role="article"].teaser + [role="article"].teaser {
    border-top: 1px solid rgba(0,0,0,0.09);
    padding-top: 2rem;
}
main + aside [role="article"].teaser .entity-teaser__image + .entity-teaser__body {padding: 0;}


/* fixes */
.field + .field {margin-top: 1.6rem;}

/* alt background colors */
.region-featured-bottom-second,
body.path-product .page-container {background-color: var(--body-bg-color-frontpage);}

/* commerce */
.cart--cart-block .cart-block--summary__count {text-transform: uppercase;}
body.path-cart .cart-empty-page h1.title {
    margin: 0;
    line-height: 1;
    color: #094974;
}
body.path-cart .cart-empty-page p {
    font-size: 18px;
    font-weight: 200 !important;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
    color: var(--primary-color);
    font-family: 'conduit_itcregular';
}

.checkout-order-summary table a,
.view-commerce-cart-form table a {
  font-size: 1.8rem;
}

[role="product"] img {
    max-width: 393px;
    box-shadow: 0 0 6px 0 #454545;
    width: auto;
    height: auto;
    max-width:100%;
}
[role="product"] h1 {
    margin: 5px 0 10px 0;
    font-size: 38px;
    font-weight: 400;
    line-height: 40px;
}


.views-view-grid.cols-4 .row>div {padding: 1rem;}
.views-view-grid.cols-4 .row>div:hover {background: #eee;;}
@media (min-width: 768px) {
    .views-view-grid.cols-4 .row>div {width: 25%;}
}