@font-face {
    font-family: "conduit_itclight";
    src: url(fonts/condult_itc/45fa0132-0858-4e18-9594-5a070788a059.eot?#iefix);
    src: url(fonts/condult_itc/45fa0132-0858-4e18-9594-5a070788a059.eot?#iefix) format("eot"), url(fonts/condult_itc/0f250d3b-13fd-469c-a4ec-9f9984165dea.woff2) format("woff2"), url(fonts/condult_itc/e924c59f-bc21-471f-ad1b-cefd0c1a6315.woff) format("woff"), url(fonts/condult_itc/13b88c12-e5f0-46c4-932a-57fe881b7c46.ttf) format("truetype"), url(fonts/condult_itc/cf39e66c-fff7-43d5-b865-0a45543d590a.svg#cf39e66c-fff7-43d5-b865-0a45543d590a) format("svg");
}

@font-face {
    font-family: "conduit_itcregular";
    src: url(fonts/condult_itc/367b2d50-c71b-4348-b8e2-d364f82386ea.eot?#iefix);
    src: url(fonts/condult_itc/367b2d50-c71b-4348-b8e2-d364f82386ea.eot?#iefix) format("eot"), url(fonts/condult_itc/8846bd5f-2288-474a-9e36-1f6a456687e8.woff2) format("woff2"), url(fonts/condult_itc/e328f17d-e8e5-424f-92e8-31af32b2ebac.woff) format("woff"), url(fonts/condult_itc/97556a76-3d0b-4ad7-ae17-02b5d97e928b.ttf) format("truetype"), url(fonts/condult_itc/407529ad-dcaa-4637-ac62-6cf9265d4f52.svg#407529ad-dcaa-4637-ac62-6cf9265d4f52) format("svg");
}

@font-face {
    font-family: 'fontello';
    src: url(fonts/fontello/fontello.eot?82788797);
    src: url(fonts/fontello/fontello.eot?82788797#iefix) format('embedded-opentype'), url(fonts/fontello/fontello.woff?82788797) format('woff'), url(fonts/fontello/fontello.ttf?82788797) format('truetype'), url(fonts/fontello/fontello.svg?82788797#fontello) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontelloslide';
    src: url(fonts/fontelloslide/fontelloslide.eot?72003881);
    src: url(fonts/fontelloslide/fontelloslide.eot?72003881#iefix) format('embedded-opentype'), url(fonts/fontelloslide/fontelloslide.woff?72003881) format('woff'), url(fonts/fontelloslide/fontelloslide.ttf?72003881) format('truetype'), url(fonts/fontelloslide/fontelloslide.svg?72003881#fontello) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url(fonts/Georgia/Georgia.eot?#iefix) format('embedded-opentype'), url(fonts/Georgia/Georgia.woff) format('woff'), url(fonts/Georgia/Georgia.ttf) format('truetype'), url(fonts/Georgia/Georgia.svg#Georgia) format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
    --box-shadow-style-01: none;
}

/* better resets, and default styling */
nav ul li {
    padding: 0;
    margin: 0;
}
nav ul li a {text-decoration: none;}
/* dkfsd: fixes/overrides */
@media (min-width: 992px) {
    .nav-primary{
      margin-left:0;
    }
}
ul.nav-primary  li::before { /* shouldn't it be all li's, not just the first row (ul>li) */
    content: "" !important;
    padding-right: 0 !important;
}
ul.nav-primary>li:last-of-type>.nav-link {padding-right: 0px;}
.nav-primary > li > a {padding-top: 0; padding-bottom: 0;}

/* theme */
body {font-family: "conduit_itcregular", sans-serif; }
body p {font-family: "conduit_itclight",sans-serif; }
body, p, .body-text, .body-copy-text {font-size: 1.9rem;}
a {text-decoration:none;}

.header .portal-info {
    margin-top: -1rem;
}
.header .portal-header .portal-info > * {
    margin-left: 2rem;
}
.region-secondary-menu .inline-list > li + li {
    margin-left: 4.1rem;
}
.header .portal-header .portal-header-inner {
    align-items: self-start;
}
.social-media-list.flexy-list .social-icon {
    height: 2.5rem;
    width: 2.5rem;
    background-color: rgba(178,178,178,0.56);
}

/* header logo (ovveride for dkfds) */
.logo {
    background-image:none !important;
    height: auto !important;
    width: auto !important;
    max-width: 230px !important;
    /*display: inline-block;
    height: 60px;
    width: 200px;
    max-width: 60%;*/
    /*width: 100%;
    max-width: 230px;
    vertical-align: bottom;*/
}

header.header {position: relative; padding: 2.5rem 0;}
header.header .portal-header {background-color: transparent; }
/*header.header .portal-header-inner {padding-left: 16px; padding-right: 16px;}*/


.header .portal-header,
.header .navbar-primary {
    border-bottom: none;
}
.header .menu--sekundaermenu {font-size: 1.7rem;}
.header .menu--sekundaermenu a {color: #6c6c6c;}
.header .button-menu-close,
.header .button-menu-open {
    flex-direction: row-reverse;
    background-color: var(--gray-color-100); color: var(--gray-color-600);
}
.header .button-menu-close:hover,
.header .button-menu-open:hover {
    background-color: var(--primary-color); color: #fff;
}
.header .button-menu-close::before,
.header .button-menu-open::before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 2.6rem;
    margin-left: .5rem;
}
.header .button-menu-close::before {content: "\f00d";}
.header .button-menu-open::before {content: "\f0c9";}

.region-featured-bottom-second {
    background: #f0f0f0;
    padding-top: 2rem;
}

footer .footer {font-family: 'conduit_itclight';}
footer .footer h2 {font-size: 24px;
    text-transform: uppercase;}
/*@media (min-width: 768px) {
    footer .footer {padding: 40px 0 30px 0;}
}*/
/* footer fix when there is nothing in footer_first or footer_second  */
footer .row .col-12:first-child {
    max-width: 820px;
    flex: 1;
}
footer .row .col-12:last-child {
    margin-left: auto;
}
footer .footer-logo {
    max-width: 230px;
}
footer .contact_information_additional_information {
    margin-top:3rem;
    color: #000;
}
footer ul.contact_information {
    display: flex;
    flex-direction: column;
}
footer ul.contact_information li {
    margin:0;
    padding:0;
    order: 99;
}
/* override: dkfds.css */
footer ul.contact_information li::before {
    content:'';
}
footer a {color: #000; font-weight: 100;}

footer ul.contact_information li.phone { order: 1; }
footer ul.contact_information li.email { order: 2; }
footer ul.contact_information li.name { order: 3; }
/* content with psudo ?!!? */
footer ul.contact_information li.vat_no:before {content:'CVR-nummer:'; font-size: inherit; position: static; padding-right: 1rem;}

footer ul.social-media-list {display:none;}

/** block:sekundaermenu *********************************/

ul[block=sekundaermenu] a {text-transform: uppercase;}

/********************************************************/

/** easy-mega-menu **************************************/
ul.simple-mega-menu {margin:0;display:flex; justify-content: end;}
ul.simple-mega-menu li:before {content:'';}
ul.simple-mega-menu>li {display: flex; align-items: center; 
    font-size: 2.41rem;
    color: var(--primary-color)
}
ul.simple-mega-menu>li>:first-child {
    border-bottom: 5px solid transparent;
}
ul.simple-mega-menu>li:hover>:first-child {
    color: #000;
    border-bottom: 5px solid #000;
}
/* making sure start offset is a zero, not from the actual hover point */
ul.simple-mega-menu li,
ul.simple-mega-menu .menu_link_content {position: static;}
ul.simple-mega-menu li>:first-child {padding: 0.5rem 2.3rem; display: flex;}
ul.simple-mega-menu li>*:hover {cursor:pointer;}
ul.simple-mega-menu li svg {
    width: 2.2rem;
    height: auto;
    margin-top: -.5rem;
}
ul.simple-mega-menu>li:last-child>a {
    padding-right: 1rem;
}
ul.simple-mega-menu li svg path {fill: currentColor;}
ul.simple-mega-menu ul[data-level] {
    visibility: hidden;
    opacity: 0;

    transition: visibility 0s, opacity 0.5s linear;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    /*display: flex !important;
    flex-wrap: wrap;*/
    z-index: 501; /* contextual buttons has 500, and adminmenu has 502 */
    height:0;   
}
ul.simple-mega-menu ul[data-level="1"] {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    /*flex-wrap: wrap;*/
    /*position: relative;*/
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; /* just my preference ;-) */
}
ul.simple-mega-menu ul[data-level="1"] > li {
    flex-basis: 25%;
    padding: 0 2rem;
}
ul.simple-mega-menu ul[data-level="1"] > li:not(:first-of-type){
    border-left: 1px solid #B2B2B2;
}
ul.simple-mega-menu ul[data-level="2"] {
    position: relative;
}
ul.simple-mega-menu>li:focus-within ul,
nav.nav:not(.is-visible) ul.simple-mega-menu>li:hover ul {
    visibility: visible;
    opacity: 1;
    max-width: none !important; /* sucks to use important, but previous styles too hard to override :-( */
    height: auto;
}
ul.simple-mega-menu ul[data-level] li {
    font-size: 2rem;
    line-height: 3.5rem;
    color: var(--primary-color);
}
ul.simple-mega-menu ul[data-level] li>:first-child:hover {
    color: #000;
}
.nav:not(.is-visible) ul.simple-mega-menu ul[data-level] > li a {padding: .5rem 0;}

/* mobile */
.nav.is-visible .navbar {padding-bottom: 0;}
.nav.is-visible .container {max-width: 100%;}
.nav.is-visible .navbar-primary {
    position: static;
    bottom: 0rem;
}
.nav.is-visible ul.simple-mega-menu {
    display: block;
}
.nav.is-visible ul.simple-mega-menu>li {
    display: block;
    border-top: 1px solid #ccc;
    position: relative;
}
.nav.is-visible ul.simple-mega-menu>li svg {
    position: absolute;
    top: 0.3rem;
    right: 0.5rem;
    pointer-events: none;
}
.nav.is-visible ul.simple-mega-menu>li span:before {
    content: '\f078';
    font-family: 'FontAwesome';
    font-size: 1rem;
    margin-right: 1rem;
}
.nav.is-visible ul.simple-mega-menu ul[data-level] {
    position: static;
    padding:0;
    box-shadow: none;
    background: #eee;
}
.nav.is-visible ul.simple-mega-menu ul[data-level] > li {
    flex-basis: 100%;
    padding: 0rem;
    border: none;
    border-top: 1px solid #ccc;
}
.nav.is-visible ul.simple-mega-menu>li>:first-child {
    border-bottom-width: 0px;
}
.nav.is-visible .portal-info-mobile {
    padding: 0;
    border-top: 1px solid #BFBFBF;
}
.nav.is-visible .portal-info-mobile ul li:before {content:'';}

/** sof specific styles for "simple-mega-menu" **********/

/********************************************************/

/** region-primary-menu BASIC MEGA MENU *****************/
/** sof specific styles for "mega menu" *************/
header.header .navbar-primary {
    position: absolute;
    bottom: 4rem;
    text-transform: uppercase;
}
header.header .region-primary-menu {width:100%;}

/********************************************************/
ul.menu-local-tasks-list {
    text-align:center;
    margin: 0 auto;
    max-width: fit-content !important;
    padding: .5rem 0;
    display: flex;
}
ul.menu-local-tasks-list li {margin:0 .3rem; padding:0;}
ul.menu-local-tasks-list a {margin:0;padding: 0 1rem; align-items: center;justify-content: center;display: flex;}
ul.menu-local-tasks-list a.button {
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #747474;
    margin-bottom: 0;
}
ul.menu-local-tasks-list a.button.is-active {
    background-color: var(--primary-color);
}


/* quick fixes */
/* .col-12 .region {margin: 0 -16px;}
.col-12 .region [data-drupal-messages] {margin: 0 16px;} */
/*[class*="col-"] {border: 2px dotted steelblue;}	
[class*="col-"]:first-child  {border: 2px dotted green; padding-left:0;}
[class*="col-"]:last-child  {border: 2px dotted red; padding-left:0; padding-right:0;}*/

.region-primary-menu {display:flex;}
.region-primary-menu nav {flex:1;}
.region-primary-menu #views-exposed-form-os2web-search-os2web-search-page input {
    width: 0px;padding: 1.2rem 2.4rem;
    margin-left: 1rem;
}
form#views-exposed-form-os2web-search-os2web-search-page .form-actions:after {right: 15px;}

.region.region-breadcrumb {max-width: 100%; flex:1;}
[data-drupal-messages] .messages__list {max-width:100% !important;}
[data-drupal-messages] {margin: 32px;}

/* temp slides */
.field.field--name-field-os2web-page-paragraph-wide>.field__item:first-child>.entity-default {padding:0; position: relative}

/* fix: not clickable */
#block-sitebranding {z-index: 1;}

/* Slideshow container */
.blog-slider__container {position: relative;/*max-width: 80%;margin: auto;height: 300px;*/}
.blog-slider__container .blogSlides {min-height: calc(100vw * (7/16) );} /* 16:7 aspect ratio */
.blog-slider__container .blogSlides>div {height: 100%;}
.blog-slider__container .paragraph--type--os2web-banner-paragraph {min-height: auto !important;}
/* Next & previous buttons */
.blogSlider__prev,
.blogSlider__next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white !important;
    font-weight: bold;
    font-size: 3rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.blogSlider__next {right: 0;border-radius: 3px 0 0 3px;}
/* On hover, add a black background color with a little bit see-through */
.blogSlider__prev:hover,
.blogSlider__next:hover { background-color: rgba(0, 0, 0, 0.8);}
/* Caption text */
.blog-slider__text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
/* Number text (1/3 etc) */
.blog-slider__numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* The dots/bullets/indicators */
.blogSlider__dots {
    text-align: center;
}
.blogSlider__dots>span {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.blogSlider__dots>span:hover {
    background-color: #717171;
}

.banner__box {padding: 20px;background-color: transparent;}
.banner__heading h2 {
    color: #fff;
    /*font-size: 4.5em;*/
    /*
    fluid type, not perfect as of now
    see: https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
    */
    font-size: clamp(3rem, -0.875rem + 8.333vw, 10rem);
    line-height: 95%;
}
.banner__body p {
    color: #fff;
    /*font-size: 26px;*/
    /*
    fluid type, not perfect as of now
    see: https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
    */
    font-size: clamp(1rem, 5vw, 3rem);
    font-weight: 200;
    line-height: 3rem;
    text-shadow: 1px 1px 1.6rem #000;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

.field__item.blog-slider__container+.field__item .container .row {background-color: #fff;}
.field__item.blog-slider__container+.field__item .container .row .teaser {box-shadow: none;}
.blogSlides h2 {text-shadow: #000 1px 1px 19px;}

  
/* front news */
/* banner */
@media (max-width: 990px) {
    .region-featured-bottom-first
    >#block-fds-sof-theme-paragraph-wide
    >.field__items>.field__item:nth-child(2)  > div {padding: var(--base-padding) 0;}
    .region-featured-bottom-first
    >#block-fds-sof-theme-paragraph-wide
    >.field__items>.field__item:nth-child(2)  .container {max-width:100%;}
}

.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(2) > div {padding: var(--base-padding) 0;}
.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(2) .views-element-container {
    padding: var(--base-padding);
    background-color: #fff;    
}
.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(2) 
.grid {--grid-column-count: 1;}
.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(2) 
.grid .column-wrap + .column-wrap {border-top: 1px solid rgba(0,0,0,0.09);}
@media (min-width: 575px) {
    .region-featured-bottom-first
    >#block-fds-sof-theme-paragraph-wide
    >.field__items>.field__item:nth-child(2) 
    .grid {--grid-column-count: 2;}
    .region-featured-bottom-first
    >#block-fds-sof-theme-paragraph-wide
    >.field__items>.field__item:nth-child(2)
    .grid .column-wrap + .column-wrap {border-top: none;}
    .region-featured-bottom-first
    >#block-fds-sof-theme-paragraph-wide
    >.field__items>.field__item:nth-child(2)
    .grid>:first-child [role="article"]{
        padding-bottom: var(--base-padding);
        border-bottom: 1px solid rgba(0,0,0,0.09);
    }
}
@media (min-width: 992px) {
    .region-featured-bottom-first
    >#block-fds-sof-theme-paragraph-wide
    >.field__items>.field__item:nth-child(2)
    .grid {--grid-column-count: 3;}
}
.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(2) 
.grid>:first-child {
    width: 100%;
}

/* all articles */
.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(2)
 .grid [role="article"] {
    padding: 0 1rem;
}
.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(2)
 .grid [role="article"] .field--type-link a {
    color: var(--primary-color);
    font-weight: 100;
    text-transform: uppercase;
}
.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(2)
 .grid [role="article"] .field--type-timestamp {
    font-size: 1.4rem;
}
.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(2) 
.grid [role="article"] .h4 {
    margin-top: 2rem;
    font-size: 3.1rem;
}
.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(2) 
.grid [role="article"] .field--type-body {
    font-family: 'conduit_itclight';
    line-height: 24px;
    padding: 1.4rem 0;
}
/* first article */
@media (min-width: 992px) {
    .region-featured-bottom-first
    >#block-fds-sof-theme-paragraph-wide
    >.field__items>.field__item:nth-child(2) 
    .grid>:first-child [role="article"]{
        flex-direction: row;
    }
    .region-featured-bottom-first
    >#block-fds-sof-theme-paragraph-wide
    >.field__items>.field__item:nth-child(2) 
    .grid>:first-child [role="article"] .entity-teaser__image {
        width: 50%; 
        padding-right: var(--base-padding);
        border-right: 1px solid rgba(0,0,0,0.09);
    }
    .region-featured-bottom-first
    >#block-fds-sof-theme-paragraph-wide
    >.field__items>.field__item:nth-child(2) 
    .grid>:first-child [role="article"] .entity-teaser__body {
        width: 50%; 
        padding-left: var(--base-padding);

    }
    .region-featured-bottom-first
    >#block-fds-sof-theme-paragraph-wide
    >.field__items>.field__item:nth-child(2) 
    .grid>:first-child [role="article"] .h4 {
        line-height: 4.2rem;
        font-size: 3.8rem;
        font-weight: 400;
        margin: .5rem 0;
    }
}
/* all but first 2 articles */
.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(2) 
.grid>:nth-child(n+3) {
    border-left: 1px solid rgba(0,0,0,0.09);
}
/* rest of articles */
.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(2) 
.grid>:nth-child(n+2) [role="article"] .entity-teaser__image {
    display:none;
}

/* banner: Læs Magasinet Skolebørn */
body.path-frontpage 
.region-featured-bottom-first
.field--name-field-os2web-page-paragraph-wide>:nth-child(5) div[style*="background-image:"] {
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 0;
}
body.path-frontpage 
.region-featured-bottom-first
.field--name-field-os2web-page-paragraph-wide>:nth-child(5) .banner__box {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
body.path-frontpage 
.region-featured-bottom-first
.field--name-field-os2web-page-paragraph-wide>:nth-child(5) h2 {
    padding: 0 0 30px 0;
    margin: 0;
    color: #000;
    font-family: 'Georgia';
    font-weight: normal;
    font-size: 75px;
    line-height: 60px;
    text-align: center;
}
body.path-frontpage 
.region-featured-bottom-first
.field--name-field-os2web-page-paragraph-wide>:nth-child(5) .mag-deck-default img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    box-shadow: #6c6c6c 0px 0px 6px 0px;
    transform: rotate(-3deg);
    margin-right: 7rem; /* quickie, spacing should be handled else where */
}
body.path-frontpage 
.region-featured-bottom-first
.field--name-field-os2web-page-paragraph-wide>:nth-child(5) .inline-list li {
    display: block;
}
body.path-frontpage 
.region-featured-bottom-first
.field--name-field-os2web-page-paragraph-wide>:nth-child(5) .inline-list li a {
    display: block;
    background: transparent;
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 100;
    text-align: left;
}
body.path-frontpage 
.region-featured-bottom-first
.field--name-field-os2web-page-paragraph-wide>:nth-child(5) .inline-list li a:hover {
    color: var(--primary-color);
}
body.path-frontpage 
.region-featured-bottom-first
.field--name-field-os2web-page-paragraph-wide>:nth-child(5) .inline-list {margin-bottom: 6rem;}

body.path-frontpage 
.region-featured-bottom-first
.field--name-field-os2web-page-paragraph-wide>:nth-child(5) .banner__heading {width: 100%;}

/* all but the first */
body.path-frontpage 
.paragraph--type--os2web-content-reference 
.field--name-field-os2web-content-reference [class*="col-"]:not(:first-child)
div.entity-teaser__image {
    display: none;
}
body.path-frontpage 
.paragraph--type--os2web-content-reference 
.field--name-field-os2web-content-reference [class*="col-"]:not(:first-child)
div.entity-teaser__body {
    padding: 0;
}
body.path-frontpage 
.paragraph--type--os2web-content-reference 
.field--name-field-os2web-content-reference [class*="col-"]:not(:first-child)
.entity-teaser--os2web-page .field--name-field-os2web-page-heading h3.h4 {
    font-size: 30px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 20px;
}
/* generel */
body.path-frontpage 
.paragraph--type--os2web-content-reference 
.field--name-field-os2web-content-reference [class*="col-"]
div.entity-teaser__body .field--type-body {
    font-family: 'conduit_itclight';
}
body.path-frontpage 
.paragraph--type--os2web-content-reference 
.field--name-field-os2web-content-reference [class*="col-"]
div.entity-teaser__body > div.field--type-link {
    margin: 0;
}
body.path-frontpage 
.paragraph--type--os2web-content-reference 
.field--name-field-os2web-content-reference [class*="col-"]
div.entity-teaser__body > div.field--type-link > a {
    display: inline-block;
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    padding-top: 10px
}
body.path-frontpage 
.paragraph--type--os2web-content-reference 
.field--name-field-os2web-content-reference [class*="col-"]
div.entity-teaser__body > div.field--type-link > a::after {
    content:'';
}

/* link banner box */
#block-fds-sof-theme-paragraph-wide > div.field.field--name-field-os2web-page-paragraph-wide.field--type-entity-reference-revisions.field--label-hidden.field__items 
> div:nth-child(2) > div > div > div > div:nth-child(2) > div > div > p {
    background-color: #F9F9F9;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'conduit_itclight';
    max-width: 100%;
}
#block-fds-sof-theme-paragraph-wide > div.field.field--name-field-os2web-page-paragraph-wide.field--type-entity-reference-revisions.field--label-hidden.field__items 
> div:nth-child(2) > div > div > div > div:nth-child(2) > div > div > p a:first-of-type {
    margin-right: auto;
    font-size: 22px;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
}
#block-fds-sof-theme-paragraph-wide > div.field.field--name-field-os2web-page-paragraph-wide.field--type-entity-reference-revisions.field--label-hidden.field__items 
> div:nth-child(2) > div > div > div > div:nth-child(2) > div > div > p a:after {
    content:'';
}
#block-fds-sof-theme-paragraph-wide > div.field.field--name-field-os2web-page-paragraph-wide.field--type-entity-reference-revisions.field--label-hidden.field__items 
> div:nth-child(2) > div > div > div > div:nth-child(2) > div > div > p a:not(:first-of-type) {
    background: var(--primary-color);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: transparent;
    margin: 0.5rem;
    font-size: 0;
    line-height: 2;
}
#block-fds-sof-theme-paragraph-wide > div.field.field--name-field-os2web-page-paragraph-wide.field--type-entity-reference-revisions.field--label-hidden.field__items 
> div:nth-child(2) > div > div > div > div:nth-child(2) > div > div > p a:after {
    position: static;
    color: #fff;
    font-family: 'FontAwesome';
    transform: rotate(0deg);
}
#block-fds-sof-theme-paragraph-wide > div.field.field--name-field-os2web-page-paragraph-wide.field--type-entity-reference-revisions.field--label-hidden.field__items 
> div:nth-child(2) > div > div > div > div:nth-child(2) > div > div > p a[title="mailchimp"]:after {
    content: '\f1ea';
    margin-left: 0.7rem;
}
#block-fds-sof-theme-paragraph-wide > div.field.field--name-field-os2web-page-paragraph-wide.field--type-entity-reference-revisions.field--label-hidden.field__items 
> div:nth-child(2) > div > div > div > div:nth-child(2) > div > div > p a[title="facebook"]:after {
    content: '\f09a';
    margin-left: 1.4rem;
}
#block-fds-sof-theme-paragraph-wide > div.field.field--name-field-os2web-page-paragraph-wide.field--type-entity-reference-revisions.field--label-hidden.field__items 
> div:nth-child(2) > div > div > div > div:nth-child(2) > div > div > p a[title="twitter"]:after {
    content: '\f099';
    margin-left: 1rem;
}

/* 3 col banner link boxes */
#block-fds-sof-theme-paragraph-wide 
> div.field.field--name-field-os2web-page-paragraph-wide.field--type-entity-reference-revisions.field--label-hidden.field__items 
> div:nth-child(3) {}
#block-fds-sof-theme-paragraph-wide 
> div.field.field--name-field-os2web-page-paragraph-wide.field--type-entity-reference-revisions.field--label-hidden.field__items 
> div:nth-child(3) h2 {
    margin-top: 0;
    color: #fff;
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: inherit;
}
#block-fds-sof-theme-paragraph-wide 
> div.field.field--name-field-os2web-page-paragraph-wide.field--type-entity-reference-revisions.field--label-hidden.field__items 
> div:nth-child(3) p {
    margin: 0;
}
#block-fds-sof-theme-paragraph-wide 
> div.field.field--name-field-os2web-page-paragraph-wide.field--type-entity-reference-revisions.field--label-hidden.field__items 
> div:nth-child(3) .entity-default {
     flex-direction: column;
     justify-content: start;
}
#block-fds-sof-theme-paragraph-wide 
> div.field.field--name-field-os2web-page-paragraph-wide.field--type-entity-reference-revisions.field--label-hidden.field__items 
> div:nth-child(3) .column-wrap {
    text-align:center;
}
#block-fds-sof-theme-paragraph-wide 
> div.field.field--name-field-os2web-page-paragraph-wide.field--type-entity-reference-revisions.field--label-hidden.field__items 
> div:nth-child(3) .column-wrap:first-child {
    width: 100%;
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 3.6rem;
}
#block-fds-sof-theme-paragraph-wide 
> div.field.field--name-field-os2web-page-paragraph-wide.field--type-entity-reference-revisions.field--label-hidden.field__items 
> div:nth-child(3) .column-wrap:first-child a {
    font-size: 1.9rem;
}
#block-fds-sof-theme-paragraph-wide 
> div.field.field--name-field-os2web-page-paragraph-wide.field--type-entity-reference-revisions.field--label-hidden.field__items 
> div:nth-child(3) .column-wrap:nth-child(n+2) {
    width: 45%;
}
@media (min-width: 992px) {
    #block-fds-sof-theme-paragraph-wide 
    > div.field.field--name-field-os2web-page-paragraph-wide.field--type-entity-reference-revisions.field--label-hidden.field__items 
    > div:nth-child(3) .column-wrap:first-child {
        flex:1;
        text-align: left;
    }
    
    #block-fds-sof-theme-paragraph-wide 
    > div.field.field--name-field-os2web-page-paragraph-wide.field--type-entity-reference-revisions.field--label-hidden.field__items 
    > div:nth-child(3) .column-wrap:nth-child(n+2) {
        width: 20%;
        text-align: left;
    }
}

/* 3 x "news" sections */
.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(6) .grid.columns-3 {background: #fff; margin-top: var(--base-padding);}

.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(6) .grid.columns-3>.column-wrap {
    padding: .5rem;
}

.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(6) .column-wrap {
    margin-top:0;
    margin-bottom: 0;
}

.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(6)
 .field--name-field-os2web-news-block-header {
    color: rgba(69,69,69,0.8);
    font-size: 3rem;
}

.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(6) .grid.columns-3>:not(:last-child) {
    border-right: 1px solid #f0f0f0;
}

.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(6) .grid.columns-3 .grid.columns-default>:not(:first-child) {
    border-top: 1px solid rgba(0,0,0,0.27);
}
.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(6) .grid.columns-default>:not(:first-child) [role="article"] .h4 {
    padding: 11px 0 13px 0;
    border-top: 1px solid rgba(0,0,0,0.27);
    font-size: 18px;
    line-height: 20px;
}

.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(6) .grid.columns-default>:not(:first-child) img {
    display: none;
}
.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(6) .grid.columns-default img {
    margin-bottom: 2rem;
}

.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(6) 
.grid.columns-default {
    --grid-column-count: 1;
}
.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(6) 
.field--name-field-os2web-news-block-header {margin: 0; padding:0;}

.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(6) .h4 {margin:0;}

.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(6) 
.grid.columns-default>:first-child .h4 {
    min-height: 14rem;    
}


.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(6) .entity-teaser__body {
    margin: 0; padding:0; position: relative;}

.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(6) .field--type-link {
    position: absolute; top: 0; left: 0; right: 0; bottom: 0;
}
.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(6) .field--type-link a {
    position: absolute; top: 0; left: 0; right: 0; bottom: 0;
    color: transparent;
}
.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(6) .column-wrap>div {flex-direction: column;}
.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(6) .field--type-timestamp {display: none;}
.region-featured-bottom-first
>#block-fds-sof-theme-paragraph-wide
>.field__items>.field__item:nth-child(6) .field--type-body {display: none;}

/* fix ?!? */
.field--name-field-os2web-simple-text-heading h2 {color: #fff;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
}

/* default to white colors for banners having the default background color */
.background-color--primary.paragraph--view-mode--default * {color: #fff;}

/* front banners generel */
.field.field--name-field-os2web-page-paragraph-wide li:before {content:'';}

/* pager */
.pager__items .pager__item {background-color: #b2b2b2; border-radius: .3rem; margin: 40px 10px 20px;}
.pager__items .pager__item a {font-size: 2rem; color: #fff; padding: 1rem 1.4rem; display: inline-block;}
.pager__items .pager__item.is-active {background-color: var(--primary-color);}
.pager__items .pager__item span[aria-hidden] {text-transform: uppercase;letter-spacing: 1px;}
.pager__items .pager__item--first,
.pager__items .pager__item--last {display:none;}

/* søge resultater */
body.path-search .region-content h2 {
    line-height: 4.4rem;
    font-size: 4.6rem;
    font-weight: 400;
}
body.path-search ol.search-results {
    padding: 0;
    margin: 0;
    max-width: 100%;
}
body.path-search ol.search-results li {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #b2b2b2;
}
body.path-search .search-result__title a {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 10px;
    padding-top: 20px;
    text-decoration: none;
    display: inline-block;
    color: var(--primary-color);
}
body.path-search .search-result__snippet {margin: 0 0 1.5em;}

.contextual-region.focus {
    outline: 3px dotted steelblue;
    outline-offset: 1rem;
}
.contextual-region.focus:after {
    content: ' ';
    position: absolute;
    top: -1rem;
    left: -1rem;
    right: -1rem;
    bottom: -1rem;
    background: rgba(0,0,0,.05);
    pointer-events: none;
}
.contextual {top: -2.5rem;}

/* search page */
body.path-search .region-content {
    display: flex;
    flex-direction: column;
}
body.path-search .region-content form.search-form {order: 2;}
body.path-search .region-content h2 {order: 1; margin-bottom: 5rem;}
body.path-search .region-content .item-list {order: 3;}
body.path-search .region-content .pager {order: 4;}

/* don't show "no results" when entering search page and .no-results-help */
body.path-search .region-content form.search-form[action="/search/site?keys="] ~ .item-list h3,
body.path-search .region-content form.search-form[action="/search/site"] ~ .item-list h3, 
body.path-search .region-content form.search-form[action="/search/site?keys="] ~ .item-list .no-results-help,
body.path-search .region-content form.search-form[action="/search/site"] ~ .item-list .no-results-help {display:none;}

body.path-search .region-content form.search-form[action="/search/site?keys="] .container-inline .form-group:before,
body.path-search .region-content form.search-form[action="/search/site"] .container-inline .form-group:before {
    content: 'Søg';
    position: absolute;
    left: 2rem;
    color: #777;
    font-family: sans-serif;
    font-size: 1.4rem;
}
form.search-form .form-group:focus-within:before {
    content: '' !important;
}

/* search form */
form.search-form .container-inline {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    padding-left: 1rem;
    border-radius: 3rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}
form.search-form .container-inline:after {
    width: 12rem;
    position: absolute;
    right: 0;
    content: "\e801";
    font-family: "fontello";
    font-size: 30px;
    text-align: center;
    line-height: 38px;
    color: var(--primary-color);
    pointer-events: none;
}
form.search-form .form-group {
    flex: 1;
}
form.search-form input[type="search"] {
    width:100%;
    border: none;
    background: transparent;
}
form.search-form input.button {
    background: transparent;
    color: transparent;
    width: 12rem;
}
form.search-form input.button:hover{
    background-color: transparent;
    color: transparent;
} 
form.search-form .form-type-search {margin: 0;}
form.search-form .form-type-search input {outline: transparent;}
form.search-form .form-label {display:none;}
form.search-form .search-help-link {display:none;}
.no-results-help p {
    font-size: 1.4rem;
    padding-left: 1rem;
}
body.path-search .page-container {min-height: 60.5rem;}
form.search-form [type="submit"]:focus {background-color:transparent; outline: 0;}

/* avanced html boxes */
[class*="-box"]>[class*="inner-box"]{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* mailchimp etc */
.region-featured-bottom-second {
    font-family: "conduit_itclight";
}
.mailchimp-signup-subscribe-form {text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0; /* to hide default text: Signup form til Mailchimp  */
}
.mailchimp-signup-subscribe-form form * {margin: 0;}
.mailchimp-signup-subscribe-form:before {
    font-size: 6rem;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.4rem;
    content: "\f003";
    font-family: 'FontAwesome';
}
.mailchimp-signup-subscribe-form form {
    display: flex;
    flex-wrap: wrap;
    color: transparent;
    align-items: center;
    justify-content: center;
}
.mailchimp-signup-subscribe-form form:before {
    content: 'Tilmeld dig Skole og Forældres nyhedsbrev.';
    display: inline-block;
    color: #000;
    font-size: 1.9rem;
    min-height: 5rem;
}
.mailchimp-newsletter-mergefields {padding-right: 1rem;}

.facebook-box .icon,
.twitter-box .icon {
    display: contents;
}
.facebook-box .icon:before,
.twitter-box .icon:before {
    font-size: 6rem;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.facebook-box .description,
.twitter-box .description {
   color: #000;
   display: block;
    min-height: 5rem;
}
.facebook-box .readmore,
.twitter-box .readmore {
   margin-top: auto;
}
.mailchimp-signup-subscribe-form h2,
.facebook-box .h4,
.twitter-box .h4 {
    margin: -.3rem 0 2rem 0;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 100;
    line-height: 3.1rem;
    color: rgba(69,69,69,0.8);
    font-family: "conduit_itcregular";
}
.mailchimp-signup-subscribe-form .form-item-gdpr-consent {
    order: 9;
    margin: 2rem 0;
    width: 90%;
}
.mailchimp-signup-subscribe-form .form-item-gdpr-consent label[for="edit-gdpr-consent"] {
    line-height: 1.7rem;font-size: 1.4rem;
}
.mailchimp-signup-subscribe-form .form-item-gdpr-consent label[for="edit-gdpr-consent"]:before {
    content: 'Når du tilmelder dig, accepterer du\00a0';
}
.mailchimp-signup-subscribe-form input.form-email {border: 1px solid rgb(204, 204, 204);}

/* fonts and font-sizes */
.field--name-field-os2web-news-block-header,
.container>h2 {
    width: 100%;
    padding: 0 20px 30px 20px;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    margin:0;
}

.h4 {
    color: #000;
    font-size: 3.2rem;
    font-weight: 200;
    line-height: 3.1rem;
}

.readmore {
    display: inline-block;
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 3.0rem;
    font-weight: 100;
    padding-top: 1rem;
    font-family: "conduit_itcregular", sans-serif;
}

.spotbox * {color: #000 !important;}
.spotbox .h4 {
    padding-bottom: 3.2rem;
}

.region-featured-bottom-first {
    padding-bottom: 4rem;
}

/* main pages */
.field--name-field-os2web-simple-text-heading h2 {
    margin-top: 4rem;
    font-size: 4.6rem;
    font-weight: normal;
    line-height: 4.4rem;
    color: #000;
}
.field--name-field-os2web-simple-text-heading p {
    padding: 2rem 0 4.4rem 0;
    font-family: "conduit_itcregular",sans-serif;
    font-size: 2.6rem;
    line-height: 3.0rem;
}
.field--name-field-os2web-simple-text-heading p strong {font-weight: inherit;}
.field--type-text-long a {
    position: static;
    padding-right: 0;
    font-weight: 200;
    text-decoration: none;
}

/* form elements */
.button[type=submit],
.form-input, .form-email {border-radius: 0;}

/* banner */
.region-featured-bottom-first .container-fluid 
.paragraph--type--os2web-banner-paragraph {
    min-height: 70vh;
    background-position: 50% 50%;
}

/* fix for */