// |--------------------------------------------------------------------------
// | Alert
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .alert
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin alert-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.alert {
  padding-top: 20px;
  padding-bottom: 20px;

  color: #000;
  background-color: #ff9e18;
}
.alert__button {

  a {
    display: inline-block;

    padding: 10px 20px;

    text-decoration: none;
    text-transform: uppercase;
    border-radius: 25%;

    background-color: #fff;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {

  .alert {
    display: flex;

    padding-top: 30px;
    padding-bottom: 30px;

    align-items: center;
  }

  .alert__meta {
    flex-grow: 1;
  }
}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {

  .alert {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
