// |--------------------------------------------------------------------------
// | Hearing reply
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .comment-os2web-hearings-hearing-reply-form
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin comment-os2web-hearings-hearing-reply-form-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.comment-os2web-hearings-hearing-reply-form {

  // Hide "Gennemse" button.
  #edit-preview {
    display: none;
  }

  // Checkbox (accept terms)
  .field--name-field-os2web-hearings-reply-arg {
    position: relative;

    .form-label {
      font-weight: $font-weight-bold;

      // Resets.
      &.form-required {

        &:after {
          margin: 0;

          background-image: none;
        }
      }
    }

    .form-label,
    .form-hint {
      margin-left: 0;
    }
  }

  .form-actions {
    text-align: right;
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
