// |--------------------------------------------------------------------------
// | Spotbox
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .spotbox
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin spotbox-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.spotbox {
  display: block;
  position: relative;

  max-width: 100%;

  overflow: hidden;

  box-shadow: $box-shadow;

  &, &:hover, &:focus, &:visited {
    color: $color-text;
    background-color: #fff;
    outline-color: $color-orange-004;
  }

  .field--name-title,
  .field--name-field-os2web-spotbox-heading {

    h1, h2, h3, h4, h5, h6 {
      margin: 0;

      color: $color-text;

      &, p {
        font-weight: $font-weight-bold;
      }
    }
  }

  .field--name-field-os2web-bdk-ss-cat-icon {
    text-align: center;
  }

  .field--type-link {

    a:after {
      display: none;
    }
  }

  + .spotbox {
    margin-top: 10px;
  }
}

a.spotbox {
  max-width: none;

  text-decoration: none;
}

.spotbox__image {}
.spotbox__content {
  padding-top: 35px;
  padding-bottom: 35px;
}

.spotbox--background-color-primary,
.spotbox--background-color-secondary,
.spotbox--background-color-tertiary {
  box-shadow: none;
}

.spotbox--background-color-primary,
.spotbox--background-color-tertiary {

  &, &:hover, &:focus, &:visited {
    color: #fff !important;
  }

  .field--name-field-os2web-spotbox-heading {

    h1, h2, h3, h4, h5, h6 {
      color: #fff;
    }
  }

  a,
  .field--type-link a {

    &, &:hover, &:focus, &:visited {
      color: #fff;
    }
  }

  p, .body-text, .body-copy-text {
    color: #fff;
  }

  &:after {
    color: #fff;
  }
}

.spotbox {

  &.spotbox--background-color-primary {

    &, &:hover, &:focus, &:visited {
      background-color: $color-green-001;
    }

    &:after {
      color: #fff;
    }
  }

  &.spotbox--background-color-secondary {

    &, &:hover, &:focus, &:visited {
      background-color: $color-orange-005;
    }
  }

  &.spotbox--background-color-tertiary {

    &, &:hover, &:focus, &:visited {
      background-color: $color-blue-001;
    }

    &:after {
      color: #fff;
    }
  }
}

.spotbox--selfservice {

  .spotbox__image {
    display: flex;

    flex-grow: 1;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    margin-right: 0 - $grid-gutter-width;

    padding-left: 0;
    padding-right: 0;
    padding-top: 0;

    img,
    svg {
      height: 52px;
    }
  }

  .spotbox__content {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 80px;
    padding-left: 0;
  }

  [class*="col-"] {
    display: flex;

    flex-direction: column;
    justify-content: center;
  }

  &.spotbox--centered-icon {

    &:after {
      top: 50%;
      right: 10px;
      bottom: auto;

      height: 3rem;

      margin-top: -1.5rem;
    }
  }

  &:after {
    display: flex;
    position: absolute;

    right: 20px;
    bottom: 20px;

    align-items: center;

    font-size: 3rem;
    font-family: "Material Icons";
    content: "keyboard_backspace";
    transform: rotate(180deg);

    color: $color-orange-004;
  }
}

.spotbox--icon {

  .spotbox__image {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

    img,
    svg {
      height: 30px;
    }
  }
  .spotbox__content {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 50px;
  }

  &.spotbox--centered-icon {

    &:after {
      top: 50%;
      right: 10px;
      bottom: auto;

      height: 3rem;

      margin-top: -1.5rem;
    }
  }

  &:after {
    display: flex;
    position: absolute;

    right: 20px;
    bottom: 20px;

    align-items: center;

    font-size: 3rem;
    font-family: "Material Icons";
    content: "keyboard_backspace";
    transform: rotate(180deg);

    color: $color-orange-004;
  }
}

.spotbox--image {

  .spotbox__image {

    img {
      width: 100%;
    }
  }

  .spotbox__content {
    padding-top: 10px;
    padding-left: 20px;

    padding-right: 3rem;
  }

  &:after {
    display: flex;
    position: absolute;

    right: 10px;
    bottom: 10px;

    align-items: center;

    font-size: 3rem;
    font-family: "Material Icons";
    content: "keyboard_backspace";
    transform: rotate(180deg);

    color: $color-orange-004;
  }
}

.spotbox--button {
  border: 0;

  &.spotbox {
    box-shadow: none;

    color: #fff;
    background-color: $color-green-001 !important;

    h1, h2, h3, h4, h5, h6 {
      text-transform: uppercase;
    }

    h1, h2, h3, h4, h5, h6, p {
      color: inherit;
    }

    &:after {
      display: flex;
      position: absolute;

      align-items: center;
      justify-content: center;

      margin-top: -1.75rem;

      top: 50%;
      right: 2.4rem;

      width: 3.5rem;
      height: 3.5rem;

      font-size: 2rem;
      font-family: FontAwesome;
      content: $fa-var-arrow-right;

      color: #fff;
      background-color: #284d62;

      transform: rotate(0);
      border-radius: 25px;
    }
  }

  &.spotbox--background-color-primary {

    &, &:hover, &:focus, &:visited {
      background-color: $color-green-001 !important;
    }
  }

  &.spotbox--background-color-secondary {

    &, &:hover, &:focus, &:visited {
      background-color: $color-orange-005 !important;
    }
  }

  &.spotbox--background-color-tertiary {

    &, &:hover, &:focus, &:visited {
      background-color: $color-blue-001 !important;
    }
  }

  .spotbox__content {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 20px;
  }

  &:after {
    display: flex;
    position: absolute;

    top: 50%;
    right: 10px;

    height: 3rem;
    margin-top: -1.5rem;

    align-items: center;

    font-size: 3rem;
    font-family: "Material Icons";
    content: "keyboard_backspace";
    transform: rotate(180deg);

    color: $color-orange-004;
  }
}

// --- Grid.
.field--name-field-os2web-spotbox-reference {

  > .field__item {
    margin-bottom: $grid-gutter-width / 2;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.paragraph--grid_1,
.paragraph--grid_2,
.paragraph--grid_3 {

  .field--name-field-os2web-spotbox-reference {

    > .field__item {
      margin-bottom: 0;
    }
  }
}

.paragraph--grid_1 {

  .spotbox {
    height: 200px;

    [class*="col-"] {
      flex-basis: 100%;
      max-width: 100%;
    }

    .spotbox__image,
    .spotbox__content {
      padding-left: $grid-gutter-width;
    }
    .spotbox__image {
      padding-top: 2rem;
      padding-right: $grid-gutter-width;
      justify-content: left;
    }
    .spotbox__content {
      height: 90px;

      padding-top: 1rem;
      padding-bottom: 4rem;
      padding-right: 4.5rem;
    }

    .field--name-field-os2web-spotbox-icon {
      text-align: left;
    }
  }
}

.paragraph--grid_2 {

  .spotbox {
    height: 200px;

    .spotbox__image {
      height: 200px;
    }
  }

  .spotbox--image {

    .spotbox__image {

      img {
        height: 200px;
      }
    }
  }
}

.paragraph--grid_3 {

  .spotbox {

    [class*="col-"] {
      flex-basis: 100%;
      max-width: 100%;
    }

    .spotbox__image {
      padding: 0;
    }
    .spotbox__content {
      padding: 1.5rem 5rem 1.5rem 1.5rem;
    }
  }

  .field--name-field-os2web-spotbox-reference {

    > .field__item {

      &:nth-child(1) {

        .spotbox {

          > .row {
            box-sizing: content-box;
            max-width: 100%;
          }

          .spotbox__content {
            height: 180px;

            padding: 1.5rem 3rem 5rem 3rem;
          }

          &:after {
            top: auto;
            right: auto;
            left: 3rem;
            bottom: 1.5rem;
          }
        }

        .spotbox--image {

          .spotbox__image {
            height: 285px;

            img {
              height: 285px;
            }
          }
        }
      }

      &:nth-child(2),
      &:nth-child(3) {

        .spotbox {

          .field--name-field-os2web-spotbox-heading {

            h1, h2, h3, h4, h5, h6 {

              &, p {
                font-size: $h5-font-size;
              }
            }
          }

          .spotbox__content {
            height: 75px;
          }

          .field--name-field-os2web-spotbox-link-text {
            display: none;
          }

          &:after {
            right: 1.5rem;
            bottom: 2.5rem;
          }
        }
      }
    }
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {

  .spotbox--icon {

    .spotbox__image {
      display: flex;

      flex-grow: 1;
      align-items: center;
      justify-content: center;

      overflow: hidden;
      margin-right: 0 - $grid-gutter-width;

      padding-left: 0;
      padding-right: 0;
      padding-top: 0;

      img,
      svg {
        height: 52px;
      }
    }

    .spotbox__content {
      padding-top: 35px;
      padding-bottom: 35px;
      padding-right: 80px;
      padding-left: 0;
    }

    [class*="col-"] {
      display: flex;

      flex-direction: column;
      justify-content: center;
    }

    &.spotbox--centered-icon {

      &:after {
        right: 30px;
      }
    }
  }

  .spotbox--button {

    .spotbox__content {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-right: 80px;
      padding-left: 30px;
    }

    &:after {
      right: 30px;
    }
  }

  .spotbox--image {

    [class*="col-"] {
      display: flex;

      flex-direction: column;
      justify-content: center;
    }
  }


  .spotbox--image {

    .spotbox__image {
      display: flex;

      padding-top: 0;
      padding-left: 0;
      padding-right: 0;

      height: 150px;

      flex-grow: 1;
      align-items: center;

      overflow: hidden;

      img {
        display: flex;

        width: auto;
        height: 150px;
        max-width: initial;
      }
    }

    .spotbox__content {
      display: flex;

      padding-top: 35px;
      padding-bottom: 35px;
      padding-left: 0;

      justify-content: center;
      flex-direction: column;

      height: 150px;
    }

    &:after {
      right: 20px;
      bottom: 20px;
    }
  }
}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
