// |--------------------------------------------------------------------------
// | Accordion
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .accordion
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin accordion-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.accordion {

  > li {
    box-shadow: $box-shadow;
  }
}
.accordion-button {
  position: relative;

  padding: 1.6rem 2.4rem;
  padding-right: 6rem;

  font-weight: $font-weight-bold;

  border-radius: 0 !important;

  background-image: none !important;

  &, &:hover, &:focus {
    background-color: #fff;
  }

  &:after {
    position: absolute;

    top: 1.6rem;
    right: 2.4rem;

    font-size: 4rem;
    font-family: FontAwesome;

    content: $fa-var-angle-down;

    color: $color-orange-004;
  }

  &[aria-expanded="true"] {

    &, &:hover, &:focus {
      background-color: #fff;
    }

    &:after {
      content: $fa-var-angle-up;
    }
  }
}

.accordion-content {
  padding: 0.5rem 2.4rem 2rem 2.4rem;

  .field {

    + .field--name-field-os2web-hearings-reply-docs {
      margin-top: $grid-gutter-width / 2;
    }
  }
}

.accordion-close-button {
  display: block;

  margin-left: -2.4rem;
  margin-right: -2.4rem;
  margin-bottom: -2rem;
  padding: 2rem 0 3rem 0;

  font-weight: $font-weight-bold;
  font-size: 4rem;
  text-align: center;
  border: 0;

  color: $color-orange-004;
  background-color: transparent;

  &:focus {
    outline: 0;
  }
}

.accordion {

  .box__body {

    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
    }
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
