// |--------------------------------------------------------------------------
// | Spotbox
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .spotbox
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin spotbox-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.spotbox {
  display: block;
  position: relative;

  box-shadow: $box-shadow;

  &, &:hover, &:focus, &:visited {
    color: $color-text;
    background-color: #fff;
    outline-color: $color-orange-004;
  }

  .field--name-title,
  .field--name-field-os2web-spotbox-heading {

    h1, h2, h3, h4, h5, h6 {
      margin: 0;

      color: $color-text;

      &, p {
        font-weight: $font-weight-bold;
      }
    }
  }

  .field--name-field-os2web-spotbox-icon,
  .field--name-field-os2web-bdk-ss-cat-icon {
    text-align: center;

    svg {

      &,
      path {
        fill: $color-orange-004;
      }
    }
  }

  .field--type-link {

    a:after {
      display: none;
    }
  }
}

a.spotbox {
  max-width: none;

  text-decoration: none;
}

.spotbox__image {}
.spotbox__content {
  padding-top: 45px;
  padding-bottom: 45px;
}

.spotbox--background-color-primary,
.spotbox--background-color-secondary,
.spotbox--background-color-tertiary {
  box-shadow: none;
}

.spotbox--background-color-primary,
.spotbox--background-color-tertiary {

  &, &:hover, &:focus, &:visited {
    color: #fff !important;
  }

  .field--name-field-os2web-spotbox-heading {

    h1, h2, h3, h4, h5, h6 {
      color: #fff;
    }
  }

  a,
  .field--type-link a {

    &, &:hover, &:focus, &:visited {
      color: #fff;
    }
  }

  &:after {
    color: #fff;
  }

  .field--name-field-os2web-spotbox-icon {

    svg {

      &,
      path {
        fill: #fff;
      }
    }
  }
}

.spotbox {

  &.spotbox--background-color-primary {

    &, &:hover, &:focus, &:visited {
      background-color: $color-green-001;
    }

    &:after {
      color: #fff;
    }
  }

  &.spotbox--background-color-secondary {

    &, &:hover, &:focus, &:visited {
      background-color: $color-orange-005;
    }
  }

  &.spotbox--background-color-tertiary {

    &, &:hover, &:focus, &:visited {
      background-color: $color-blue-001;
    }

    &:after {
      color: #fff;
    }
  }
}

.spotbox--icon {
  background-image: url("../images/arrow-right.svg");

  .spotbox__image {
    margin-right: 0 - $grid-gutter-width;
  }
  .spotbox__content {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 80px;
  }

  &.spotbox--centered-icon {

    &:after {
      top: 50%;
      right: 30px;
      bottom: auto;

      height: 3rem;

      margin-top: -1.5rem;
    }
  }

  &:after {
    display: flex;
    position: absolute;

    right: 20px;
    bottom: 20px;

    align-items: center;

    font-size: 3rem;
    font-family: "Material Icons";
    content: "keyboard_backspace";
    transform: rotate(180deg);

    color: $color-orange-004;
  }
}

.spotbox--image {
  background-image: url("../images/arrow-right.svg");

  .spotbox__image {
    display: flex;

    flex-grow: 1;
    align-items: center;

    overflow: hidden;
  }

  .spotbox__content {
    padding-right: 80px;
  }

  &:after {
    display: flex;
    position: absolute;

    right: 20px;
    bottom: 20px;

    align-items: center;

    font-size: 3rem;
    font-family: "Material Icons";
    content: "keyboard_backspace";
    transform: rotate(180deg);

    color: $color-orange-004;
  }
}

.spotbox--button {
  border: 0;

  background-image: url("../images/arrow-right.svg");

  &.spotbox {
    box-shadow: none;
    background-color: $color-green-002 !important;
  }

  &.spotbox--background-color-primary {

    &, &:hover, &:focus, &:visited {
      background-color: $color-green-001 !important;
    }
  }

  &.spotbox--background-color-secondary {

    &, &:hover, &:focus, &:visited {
      background-color: $color-orange-005 !important;
    }
  }

  &.spotbox--background-color-tertiary {

    &, &:hover, &:focus, &:visited {
      background-color: $color-blue-001 !important;
    }
  }

  .spotbox__content {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 80px;
    padding-left: 30px;
  }

  &:after {
    display: flex;
    position: absolute;

    top: 50%;
    right: 30px;

    height: 3rem;
    margin-top: -1.5rem;

    align-items: center;

    font-size: 3rem;
    font-family: "Material Icons";
    content: "keyboard_backspace";
    transform: rotate(180deg);

    color: $color-orange-004;
  }
}

// Grid.
.paragraph--grid_1 {

  .spotbox {

    [class*="col-"] {
      flex-basis: 100%;
      max-width: 100%;
    }

    .spotbox__image,
    .spotbox__content {
      padding-left: $grid-gutter-width;
    }
    .spotbox__image {
      padding-top: 5rem;
      padding-right: $grid-gutter-width;
      justify-content: left;
    }
    .spotbox__content {
      padding-top: 1rem;
      padding-bottom: 3rem;
      padding-right: 4.5rem;
    }

    .field--name-field-os2web-spotbox-icon {
      text-align: left;
    }
  }
}

.paragraph--grid_3 {

  .spotbox {

    [class*="col-"] {
      flex-basis: 100%;
      max-width: 100%;
    }

    .spotbox__image {
      padding: 0;

      img {
        width: 100%;
      }
    }
    .spotbox__content {
      padding: 3rem;
    }
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
