{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

      <div class="grid columns-2">
        <div class="column-wrap">{{ content.field_os2web_column_1 }}</div>
      
        <div class="column-wrap">{{ content.field_os2web_column_2 }}</div>
      </div>

    {% endblock %}
  </div>
{% endblock paragraph %}
