// Increased specificity to win over base theme.
body .container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Accessibility overrides.
body a {

  &:focus {
    outline-width: 2px;
  }
}

//.paragraph a,
//.region-content a,
//.breadcrumb a {
//
//  &:focus {
//    outline-width: 2px;
//  }
//}

.ext {
  display: none;
}

.return-to-home-link {
  display: flex;

  align-items: center;

  padding: 14px $sidenav-list-spacing-left;

  font-size: $large-font-size;
  font-weight: $font-weight-bold;

  &, &:active, &:focus, &:visited {
    text-decoration: none;

    color: $color-text;
  }

  .icon {
    height: 3rem;
    width: 3rem;

    font-size: 2.6rem;

    color: $color-orange-004;
  }
}

body .page-container {
  padding-top: 1rem;
}
