// Increased specificity to win over base theme.
body .container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Accessibility overrides.
button,
body a {

  &:focus {
    outline-width: 2px;
  }
}

//.paragraph a,
//.region-content a,
//.breadcrumb a {
//
//  &:focus {
//    outline-width: 2px;
//  }
//}

.fields-inline {

  > .field {
    display: inline-block;
  }
}

.ext {
  display: none;
}

.return-to-home-link {
  display: flex;

  align-items: center;

  padding: 14px $sidenav-list-spacing-left;

  font-size: $large-font-size;
  font-weight: $font-weight-bold;

  &, &:active, &:focus, &:visited {
    text-decoration: none;

    color: $color-text;
  }

  .icon {
    height: 3rem;
    width: 3rem;

    font-size: 2.6rem;

    color: $color-orange-004;
  }
}

body .page-container {
  padding-top: 1rem;
}

.region-sidebar-second {

  .box {
    min-height: 217px; // Same height as primary image.
  }

  .os2web_contact {

    .field {

      + .field {
        margin-top: 2.8rem; // Same distance as between <p> <p>
      }
    }
  }
}
