// |--------------------------------------------------------------------------
// | Misc
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Increased specificity to win over base theme.
body .container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Accessibility overrides.
button,
body a {

  &:focus {
    outline-width: 2px;
  }
}

//.paragraph a,
//.region-content a,
//.breadcrumb a {
//
//  &:focus {
//    outline-width: 2px;
//  }
//}

.fields-inline {

  > .field {
    display: inline-block;
  }
}

.ext {
  display: none;
}

.return-to-home-link {
  display: flex;

  align-items: center;

  padding: 14px $sidenav-list-spacing-left;

  font-size: $large-font-size;
  font-weight: $font-weight-bold;

  &, &:active, &:focus, &:visited {
    text-decoration: none;

    color: $color-text;
  }

  .icon {
    margin-right: 10px;

    font-size: 2.6rem;

    color: $color-orange-004;
  }
}

body .page-container {
  padding-top: 1rem;
}

.region-sidebar-second {

  .os2web_contact {

    .field {

      + .field {
        margin-top: 2.8rem; // Same distance as between <p> <p>
      }
    }
  }
}

.button--primary {

  &, &:hover, &:focus {
    font-weight: $font-weight-bold;

    color: #fff;
    background-color: $color-orange-004;
  }
}

.button--rounded {
  padding-left: 30px;
  padding-right: 30px;

  border-radius: 30px;
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {

  .region-sidebar-second {

    .box {
      min-height: 217px; // Same height as primary image.
    }
  }
}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {

  body .page-container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
