// |--------------------------------------------------------------------------
// | Hearings search.
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .paragraph--type--os2web-hearings-search
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin paragraph--type--os2web-hearings-search-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.paragraph--type--os2web-hearings-search {

}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {
  .paragraph--type--os2web-hearings-search {
    .form-composite {
      width: 100%;

      .form-radios {
        max-width: 400px;

        .form-type-radio {
          width: 50%;
          margin-right: 0;
        }
      }
    }
  }
}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
