@font-face {
  font-family: 'Candara';
  src: url('../fonts/candara.eot'); /* IE9 Compat Modes */
  src: url('../fonts/candara.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/candara.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/candara.ttf')  format('truetype')
}
